<div class="wrap" style="position: relative; z-index: 9;">
  <div class="modal">
    <div class="container">
      <div class="my-pet-1 rel" id="addPet1">
        <span class="close-pet" data-form="AddPet_{{ customer.id }}">{% include 'icon-close-new' %}</span>
        <h2 class="tk-le-monde-livre-classic-byol text-center">{{ 'customer.pet_details.add_pet' | t }}</h2>
        <form action="/a/custmeta" method="POST" id="custmeta">  
          <input type="hidden" name="customer[id]" value="{{ customer.id }}" />
          <div class="row">
            <div class="column">
              <input type="text" name="metafield[customer.pet_name]" value="{{ customer.metafields.customer.pet_name }}" placeholder="{{ 'customer.pet_details.pet_name' | t }}" />
            </div>
            <div class="column">
              <input type="date" name="metafield[customer.pet_dob]" value="{{ customer.metafields.customer.pet_dob }}" placeholder="{{ 'customer.pet_details.pet_dob' | t }}" />
            </div>
          </div>
          
          <div class="flex-box justify-between align-center" style="margin-top: 8px;">
            <span class="cancel-edit" data-form="addPet1">{{ 'customer.addresses.cancel' | t }}</span>
            <button type="submit" class="btn pet-btn">{{ 'customer.pet_details.add_pet' | t }}</button>
          </div>
          
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  $('form#custmeta').submit(function(e) {
    e.preventDefault();
    $.ajax({
      type: "POST",
      dataType: "json",
      data: $(this).serialize(),
      url: $(this).attr('action'),
      success: function (data) {
        var formValid = (data.status === 'OK');
        if (formValid) {
          var msgs = '';
          for (var i=0;i<data.messages.length;i++) {
            msgs += '-- ' + data.messages[i] + '\n';
          }
          if (msgs > '') {
            alert('SUCCESS WITH MESSAGES:\n\n' + msgs);
          }
          else {
            alert('SUCCESS!');
          }
        }
        else {
          alert('Status: ' + data.status + '\nMessage: ' + data.message);
        }
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert('AJAX or Server 500 error occurred');
      }
    });
    return false;
  });
</script>