<div class="wrap" style="position: relative; z-index: 9;">
  <div class="modal">
    <div class="container">
      <div class="my-pet-1 rel" id="addPet1">
        <span class="close-pet" data-form="addPet1">{% include 'icon-close-new' %}</span>
        <h2 class="tk-le-monde-livre-classic-byol text-center">{{ 'customer.pet_details.add_pet' | t }}</h2>
        
        <form id="custmeta">
          <div class="my-pet-form">

            <input type="hidden" id="customer_id" name="customer[id]" value="{{ customer.id }}" />
            <div class="row">
              <div class="column">
                <label class="my-pet-info">{{ 'customer.pet_details.pet_name' | t }}</label>
                <input type="text" name="metafield[customer.pet_name]" value="{{ customer.metafields.customer.pet_name }}" id="{{ 'customer.pet_details.pet_name' | t }}" placeholder="{{ 'customer.pet_details.pet_name' | t }}" required />
              </div>
              <div class="column">
                <label class="my-pet-info">{{ 'customer.pet_details.pet_dob' | t }}</label>
                <input type="date" name="metafield[customer.pet_dob]" value="{{ customer.metafields.customer.pet_dob }}" id="{{ 'customer.pet_details.pet_dob' | t }}" placeholder="{{ 'customer.pet_details.pet_dob' | t }}" required />
              </div>
            </div>

            <div class="row">
              <div class="column">
                <label class="my-pet-info">{{ 'customer.pet_details.pet_gender' | t }}</label>
                <div class="pet-gender-info pet-male selected">
                  <input type="radio" name="metafield[customer.pet_gender]" {% if customer.metafields.customer.pet_gender == "Male" or customer.metafields.customer.pet_gender == blank %}checked="checked"{% endif %} class="pet-gender-radio" id="{{ 'customer.pet_details.pet_male' | t }}" value="Male">
                  <label class="" for="{{ 'customer.pet_details.pet_male' | t }}">{{ 'customer.pet_details.pet_male' | t }}</label>
                </div>
                <div class="pet-gender-info pet-female">
                  <input type="radio" name="metafield[customer.pet_gender]" {% if customer.metafields.customer.pet_gender == "Female" %}checked="checked"{% endif %} class="pet-gender-radio" id="{{ 'customer.pet_details.pet_female' | t }}" value="Female">
                  <label class="" for="{{ 'customer.pet_details.pet_female' | t }}">{{ 'customer.pet_details.pet_female' | t }}</label>
                </div>
              </div>
              <div class="column">
                <label class="my-pet-info">{{ 'customer.pet_details.pet_weight' | t }}</label>
                <input type="number" name="metafield[customer.pet_weight]" value="{{ customer.metafields.customer.pet_weight }}" id="{{ 'customer.pet_details.pet_weight' | t }}" placeholder="{{ 'customer.pet_details.pet_weight' | t }} kg" required />
              </div>
            </div>
            
            <div class="row">
              <div class="column">
                <label class="my-pet-info">{{ 'customer.pet_details.pet_breed' | t }}</label>
                <input type="text" name="metafield[customer.pet_breed]" value="{{ customer.metafields.customer.pet_breed }}" id="{{ 'customer.pet_details.pet_breed' | t }}" placeholder="{{ 'customer.pet_details.pet_breed' | t }}" required />
              </div>
              <div class="column">
                <div class="row">
                  <div class="column">
                    <label class="my-pet-info">{{ 'customer.pet_details.pet_type' | t }}</label>
                    <div class="pet-type pet-dog selected">
                      <input type="radio" name="metafield[customer.pet_type]" {% if customer.metafields.customer.pet_type == "Dog" or customer.metafields.customer.pet_type == blank %}checked="checked"{% endif %} class="pet-type-radio" id="{{ 'customer.pet_details.pet_dog' | t }}" value="Dog">
                      <label class="" for="{{ 'customer.pet_details.pet_dog' | t }}">{{ 'customer.pet_details.pet_dog' | t }}</label>
                    </div>
                    <div class="pet-type pet-cat">
                      <input type="radio" name="metafield[customer.pet_type]" {% if customer.metafields.customer.pet_type == "Cat" %}checked="checked"{% endif %} class="pet-type-radio" id="{{ 'customer.pet_details.pet_cat' | t }}" value="Cat">
                      <label class="" for="{{ 'customer.pet_details.pet_cat' | t }}">{{ 'customer.pet_details.pet_cat' | t }}</label>
                    </div>
                  </div>
                
                  <div class="column">
                    <label class="my-pet-info">{{ 'customer.pet_details.pet_neutered' | t }}</label>
                    <div class="pet-neutered pet-neutered-yes selected">
                      <input type="radio" name="metafield[customer.pet_neutered]" {% if customer.metafields.customer.pet_neutered == "Yes" or customer.metafields.customer.pet_neutered == blank %}checked="checked"{% endif %} class="pet-neutered-radio" id="{{ 'customer.pet_details.pet_neutered_yes' | t }}" value="Yes">
                      <label class="" for="{{ 'customer.pet_details.pet_neutered_yes' | t }}">{{ 'customer.pet_details.pet_neutered_yes' | t }}</label>
                    </div>
                    <div class="pet-neutered pet-neutered-no">
                      <input type="radio" name="metafield[customer.pet_neutered]" {% if customer.metafields.customer.pet_neutered == "No" %}checked="checked"{% endif %} class="pet-neutered-radio" id="{{ 'customer.pet_details.pet_neutered_no' | t }}" value="No">
                      <label class="" for="{{ 'customer.pet_details.pet_neutered_no' | t }}">{{ 'customer.pet_details.pet_neutered_no' | t }}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="column">
                <label class="my-pet-info">{{ 'customer.pet_details.pet_activity' | t }}</label>
                {% for block in section.blocks %}
                  {% if block.type == "pet-activity" %}

                    {% if block.settings.pet_activity1 != blank %}
                    <div class="pet-activity pet-{{ block.settings.pet_activity1 | replace: " ","" | downcase }} selected">
                      <input type="radio" name="metafield[customer.pet_activity]" {% if customer.metafields.customer.pet_activity == block.settings.pet_activity1 or customer.metafields.customer.pet_activity == blank %}checked="checked"{% endif %} class="pet-activity-radio" id="{{ block.settings.pet_activity1 }}" value="{{ block.settings.pet_activity1 }}">
                      <label class="" for="{{ block.settings.pet_activity1 }}">{{ block.settings.pet_activity1 }}</label>
                    </div>
                    {% endif %}

                    {% if block.settings.pet_activity2 != blank %}
                    <div class="pet-activity pet-{{ block.settings.pet_activity2 | replace: " ","" | downcase }}">
                      <input type="radio" name="metafield[customer.pet_activity]" {% if customer.metafields.customer.pet_activity == block.settings.pet_activity2 %}checked="checked"{% endif %} class="pet-activity-radio" id="{{ block.settings.pet_activity2 }}" value="{{ block.settings.pet_activity2 }}">
                      <label class="" for="{{ block.settings.pet_activity2 }}">{{ block.settings.pet_activity2 }}</label>
                    </div>
                    {% endif %}

                    {% if block.settings.pet_activity3 != blank %}
                    <div class="pet-activity pet-{{ block.settings.pet_activity3 | replace: " ","" | downcase }}">
                      <input type="radio" name="metafield[customer.pet_activity]" {% if customer.metafields.customer.pet_activity == block.settings.pet_activity3 %}checked="checked"{% endif %} class="pet-activity-radio" id="{{ block.settings.pet_activity3 }}" value="{{ block.settings.pet_activity3 }}">
                      <label class="" for="{{ block.settings.pet_activity3 }}">{{ block.settings.pet_activity3 }}</label>
                    </div>
                    {% endif %}

                    {% if block.settings.pet_activity4 != blank %}
                    <div class="pet-activity pet-{{ block.settings.pet_activity4 | replace: " ","" | downcase }}">
                      <input type="radio" name="metafield[customer.pet_activity]" {% if customer.metafields.customer.pet_activity == block.settings.pet_activity4 %}checked="checked"{% endif %} class="pet-activity-radio" id="{{ block.settings.pet_activity4 }}" value="{{ block.settings.pet_activity4 }}">
                      <label class="" for="{{ block.settings.pet_activity4 }}">{{ block.settings.pet_activity4 }}</label>
                    </div>
                    {% endif %}

                    {% if block.settings.pet_activity5 != blank %}
                    <div class="pet-activity pet-{{ block.settings.pet_activity5 | replace: " ","" | downcase }}">
                      <input type="radio" name="metafield[customer.pet_activity]" {% if customer.metafields.customer.pet_activity == block.settings.pet_activity5 %}checked="checked"{% endif %} class="pet-activity-radio" id="{{ block.settings.pet_activity5 }}" value="{{ block.settings.pet_activity5 }}">
                      <label class="" for="{{ block.settings.pet_activity5 }}">{{ block.settings.pet_activity5 }}</label>
                    </div>
                    {% endif %}

                  {% endif %}
                {% endfor %}
              </div>
              <div class="column">
                <label class="my-pet-info">{{ 'customer.pet_details.pet_complaints' | t }}</label>
                {% for block in section.blocks %}
                  {% if block.type == "pet-complaints" %}
					
                	{% assign petComplaints = customer.metafields.customer.pet_complaints | split: ", " %}
                    {% if block.settings.pet_complaint1 != blank %}
                    <div class="pet-complaint pet-{{ block.settings.pet_complaint1 | replace: " ","" | downcase }}">
                      <input type="checkbox" name="metafield[customer.pet_complaints]" {% if petComplaints contains block.settings.pet_complaint1 %}checked{% endif %} class="pet-complaint-checkbox" id="{{ block.settings.pet_complaint1 }}" value="{{ block.settings.pet_complaint1 }}">
                      <label class="" for="{{ block.settings.pet_complaint1 }}">{{ block.settings.pet_complaint1 }}</label>
                    </div>
                    {% endif %}

                    {% if block.settings.pet_complaint2 != blank %}
                    <div class="pet-complaint pet-{{ block.settings.pet_complaint2 | replace: " ","" | downcase }}">
                      <input type="checkbox" name="metafield[customer.pet_complaints]" {% if petComplaints contains block.settings.pet_complaint2 %}checked{% endif %} class="pet-complaint-checkbox" id="{{ block.settings.pet_complaint2 }}" value="{{ block.settings.pet_complaint2 }}">
                      <label class="" for="{{ block.settings.pet_complaint2 }}">{{ block.settings.pet_complaint2 }}</label>
                    </div>
                    {% endif %}

                    {% if block.settings.pet_complaint3 != blank %}
                    <div class="pet-complaint pet-{{ block.settings.pet_complaint3 | replace: " ","" | downcase }}">
                      <input type="checkbox" name="metafield[customer.pet_complaints]" {% if petComplaints contains block.settings.pet_complaint3 %}checked{% endif %} class="pet-complaint-checkbox" id="{{ block.settings.pet_complaint3 }}" value="{{ block.settings.pet_complaint3 }}">
                      <label class="" for="{{ block.settings.pet_complaint3 }}">{{ block.settings.pet_complaint3 }}</label>
                    </div>
                    {% endif %}

                    {% if block.settings.pet_complaint4 != blank %}
                    <div class="pet-complaint pet-{{ block.settings.pet_complaint4 | replace: " ","" | downcase }}">
                      <input type="checkbox" name="metafield[customer.pet_complaints]" {% if petComplaints contains block.settings.pet_complaint4 %}checked="checked"{% endif %} class="pet-complaint-checkbox" id="{{ block.settings.pet_complaint4 }}" value="{{ block.settings.pet_complaint4 }}">
                      <label class="" for="{{ block.settings.pet_complaint4 }}">{{ block.settings.pet_complaint4 }}</label>
                    </div>
                    {% endif %}

                    {% if block.settings.pet_complaint5 != blank %}
                    <div class="pet-complaint pet-{{ block.settings.pet_complaint5 | replace: " ","" | downcase }}">
                      <input type="checkbox" name="metafield[customer.pet_complaints]" {% if petComplaints contains block.settings.pet_complaint5 %}checked="checked"{% endif %} class="pet-complaint-checkbox" id="{{ block.settings.pet_complaint5 }}" value="{{ block.settings.pet_complaint5 }}">
                      <label class="" for="{{ block.settings.pet_complaint5 }}">{{ block.settings.pet_complaint5 }}</label>
                    </div>
                    {% endif %}
                
                	{% if block.settings.pet_complaint6 != blank %}
                    <div class="pet-complaint pet-{{ block.settings.pet_complaint6 | replace: " ","" | downcase }}">
                      <input type="checkbox" name="metafield[customer.pet_complaints]" {% if petComplaints contains block.settings.pet_complaint6 %}checked="checked"{% endif %} class="pet-complaint-checkbox" id="{{ block.settings.pet_complaint6 }}" value="{{ block.settings.pet_complaint6 }}">
                      <label class="" for="{{ block.settings.pet_complaint6 }}">{{ block.settings.pet_complaint6 }}</label>
                    </div>
                    {% endif %}
                
                	{% if block.settings.pet_complaint7 != blank %}
                    <div class="pet-complaint pet-{{ block.settings.pet_complaint7 | replace: " ","" | downcase }}">
                      <input type="checkbox" name="metafield[customer.pet_complaints]" {% if petComplaints contains block.settings.pet_complaint7 %}checked="checked"{% endif %} class="pet-complaint-checkbox" id="{{ block.settings.pet_complaint7 }}" value="{{ block.settings.pet_complaint7 }}">
                      <label class="" for="{{ block.settings.pet_complaint7 }}">{{ block.settings.pet_complaint7 }}</label>
                    </div>
                    {% endif %}

                    {% if block.settings.pet_complaint8 != blank %}
                    <div class="pet-complaint pet-{{ block.settings.pet_complaint8 | replace: " ","" | downcase }}">
                      <input type="checkbox" name="metafield[customer.pet_complaints]" {% if petComplaints contains block.settings.pet_complaint8 %}checked="checked"{% endif %} class="pet-complaint-checkbox" id="{{ block.settings.pet_complaint8 }}" value="{{ block.settings.pet_complaint8 }}">
                      <label class="" for="{{ block.settings.pet_complaint8 }}">{{ block.settings.pet_complaint8 }}</label>
                    </div>
                    {% endif %}

                    {% if block.settings.pet_complaint9 != blank %}
                    <div class="pet-complaint pet-{{ block.settings.pet_complaint9 | replace: " ","" | downcase }}">
                      <input type="checkbox" name="metafield[customer.pet_complaints]" {% if petComplaints contains block.settings.pet_complaint9 %}checked="checked"{% endif %} class="pet-complaint-checkbox" id="{{ block.settings.pet_complaint9 }}" value="{{ block.settings.pet_complaint9 }}">
                      <label class="" for="{{ block.settings.pet_complaint9 }}">{{ block.settings.pet_complaint9 }}</label>
                    </div>
                    {% endif %}
                
                	{% if block.settings.pet_complaint10 != blank %}
                    <div class="pet-complaint pet-{{ block.settings.pet_complaint10 | replace: " ","" | downcase }}">
                      <input type="checkbox" name="metafield[customer.pet_complaints]" {% if petComplaints contains block.settings.pet_complaint10 %}checked="checked"{% endif %} class="pet-complaint-checkbox" id="{{ block.settings.pet_complaint10 }}" value="{{ block.settings.pet_complaint10 }}">
                      <label class="" for="{{ block.settings.pet_complaint10 }}">{{ block.settings.pet_complaint10 }}</label>
                    </div>
                    {% endif %}

                  {% endif %}
                {% endfor %}
              </div>
            </div>
            
          </div>
            
          <div class="flex-box justify-between align-center" style="margin-top: 8px;">
            <span class="cancel-edit" data-form="addPet1">{{ 'customer.addresses.cancel' | t }}</span>
            <input type="submit" class="btn pet-btn" value="{{ 'customer.pet_details.add_pet' | t }}" />
          </div>
          
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  
  $(document).ready(function() {
    $(".pet-type").click(function() {
      $(".pet-type").removeClass("selected");
      $(this).addClass("selected");
    });
    
    $(".pet-gender-info").click(function() {
      $(".pet-gender-info").removeClass("selected");
      $(this).addClass("selected");
    });
    
    $(".pet-activity").click(function() {
      $(".pet-activity").removeClass("selected");
      $(this).addClass("selected");
    });
    
    $(".pet-neutered").click(function() {
      $(".pet-neutered").removeClass("selected");
      $(this).addClass("selected");
    });
    
    $('form#custmeta').submit(function(e) {
      e.preventDefault();
      var formData = new FormData($('form#custmeta')[0]);

//       formData.set("metafield[customer.pet_weight]",parseInt($('#Weight').val()));
//       formData.set("metafield[customer.pet_type]",$('.pet-type.selected .pet-type-radio').attr('id'));
//       formData.set("metafield[customer.pet_gender]",$('.pet-gender-info.selected .pet-gender-radio').attr('id'));
//       formData.set("metafield[customer.pet_neutered]",$('.pet-neutered.selected .pet-neutered-radio').attr('id'));
//       formData.set("metafield[customer.pet_activity]",$('.pet-activity.selected .pet-activity-radio').attr('id'));

//       var petComplaints = "";

//       $('.pet-complaint-checkbox:checked').each(function() {
//         var complaintId = $(this).attr("id");
//         petComplaints = petComplaints + complaintId + ", ";
//       });

//       petComplaints = petComplaints.substring(0,petComplaints.lastIndexOf(','));
//       console.log("Complaints : "+petComplaints);
//       formData.set("metafield[customer.pet_complaints]",petComplaints);

      var formValue = Object.fromEntries(formData.entries());
      
      formValue."metafield[customer.pet_complaints]" = formData.getAll("metafield[customer.pet_complaints]");
      
      console.log(formValue);
      console.log(formData.getAll("metafield[customer.pet_complaints]"));
      
      $.ajax({
        type: "POST",
        dataType: "json",
        data: formValue,
        url: "/a/custmeta",
        success: function (data) {
          var formValid = (data.status === 'OK');
          if (formValid) {
            var msgs = '';
            for (var i=0;i<data.messages.length;i++) {
              msgs += '-- ' + data.messages[i] + '\n';
            }
            if (msgs > '') {
              alert('SUCCESS WITH MESSAGES:\n\n' + msgs);
            }
            else {
              alert('SUCCESS!');
            }
          }
          else {
            alert('Status: ' + data.status + '\nMessage: ' + data.message);
          }
        },
        error: function (jqXHR, textStatus, errorThrown) {
          alert('AJAX or Server 500 error occurred');
        }
      });
      

      return false;
    });
  });
  
</script>