{% assign articleUpsellProd = all_products[articleUpsellHandle] %}
<div class="article-upsell-wrapper">
  <div class="article-upsell">
    <div class="article-upsell-image">
      <a href="{{ articleUpsellProd.url }}" aria-label="article upsell">
        <img src="{{ articleUpsellProd.featured_image | img_url: 'x240' }}" alt="{{ articleUpsellProd.title }}">
      </a>
    </div>
    <div class="article-upsell-infos product-info">
      <div class="flex-box justify-between align-center">
        <a href="{{ articleUpsellProd.url }}" class="product-name">{{ articleUpsellProd.title }}</a>
        <span class="product-selling-price card-product-price no-t-m">{{ articleUpsellProd.price | money }}</span>
      </div>
      <div class="article-product-desc">{{ articleUpsellProd.metafields.my_fields.extra_info }}</div>
      <div class="variants-wrapper">
        {% for variant in articleUpsellProd.variants %}
        <div class="variant-box {% if forloop.index == 1 %}variant-selected{% endif %} {% if product.has_only_default_variant %}no-disp{% endif %}" 
             data-index="{{ forloop.index }}"
             data-avaliable="{% if variant.available %}yes{% else %}no{% endif %}"
             data-sell-out-of-stock="{{ variant.inventory_policy }}"
             data-inventory-management="{{ variant.inventory_management }}"
             data-quantity="{{ variant.inventory_quantity }}"
             value="{{ variant.id }}"
             variant-name="{{ variant.title }}"
             data-compare="{{ variant.compare_at_price | money }}"
             data-price="{{ variant.price | money }}">{{ variant.title }}</div>
        {% endfor %}
      </div>
      <span class="product-selling-price card-product-price no-d">{{ articleUpsellProd.price | money }}</span>
      <button class="btn addArticleUpsell no-t-m">{{ 'products.product.buy_now' | t }}</button>
    </div>
  </div>
  <button class="btn addArticleUpsell no-d">{{ 'products.product.buy_now' | t }}</button>
</div>

<script>
  
  function checkUpsellAvailability() {

    var selectedVariant = $(".article-upsell .variant-box.variant-selected").attr("variant-name");

    //Hide Unavailable variants
    $(".article-upsell .variant-box").each(function() {
      if($(this).attr("data-inventory-management") != "undefined" && $(this).attr("data-inventory-management") != null) {
      	if(($(this).attr("variant-name") == selectedVariant) && ($(this).attr("data-quantity") < parseInt($(".qty-number").text())) && ($(this).attr("data-sell-out-of-stock") == "deny")) {
          $(".addArticleUpsell").attr("disabled",true);
        }
        else if(($(this).attr("variant-name") == selectedVariant) && ($(this).attr("data-quantity") >= parseInt($(".qty-number").text()))) {
          $(".addArticleUpsell").attr("disabled",false);
        }  
	  }
	  else {
	  	  $(".addArticleUpsell").attr("disabled",false);
	  }
    });

  }
  
  $(document).ready(function() {
    checkUpsellAvailability();
  });
          
  $('.addArticleUpsell').click(function() {
    $('.drawer-cart').addClass('drawn');
    $('.background-drawer-cart').addClass('drawn');
    $('body').addClass('no-scroll');
    $('.cart-body').append(`<div class="load-container"><div class="load"></div></div>`);
    
    var formData = {
      'items': [{
        'id': parseInt($(".article-upsell .variant-box.variant-selected").attr("value")),
        'quantity': 1
      }]
    };
    $.ajax({
      url: "/cart/add.js",
      method: "POST",
      dataType: "json",
      data: formData,
    })
    .done(function( data ) {
      console.log(data);
      
      $.ajax({
        url: '{% unless routes.root_url == "/" %}{{ routes.root_url }}{% endunless %}/?sections=dc-cart-drawer',
        method: "GET",
        dataType: "json"
      })
      .done(function( data ) {
        {% include "cart-done" %}
      })
      .fail(function(error) {
        console.log( error );
        $('.load-container').remove();
      });
      
//       if($('.drawer-cart-upsell').length > 0 && $('.upsell-product-wrap').length > 0) {
//         $('.drawer-cart').addClass("with-upsell");
//       }
//       else {
//         $('.drawer-cart').removeClass("with-upsell");
//       }
      $('.load-container').remove();
    })
    .fail(function(error) {
      console.log(error);
      $('.load-container').remove();
    });
  });
</script>