{% if product.metafields.my_fields.bundle_products != blank %}
  {% assign bundled_product_handles = product.metafields.my_fields.bundle_products | split: "," %}
  {% assign bundleDiscount = product.metafields.my_fields.bundle_percentage %}
  <div class="product-bundle-wrapper rel">
    <div class="flex-box justify-between align-center product-bundle-column">
      {% for handle in bundled_product_handles %}
      {% assign bundle_product = all_products[handle] %}
      
      {% assign bundleVariantPrice = bundle_product.selected_or_first_available_variant.price | times: bundleDiscount %}
      {% assign bundleVariantPrice = bundleVariantPrice | divided_by: 100 %}
      {% assign bundleVariantPrice = bundle_product.selected_or_first_available_variant.price | minus: bundleVariantPrice %}
      
      <div class="card-product bundled-product rel" data-external="{{ bundleProductsExternalId[forloop.index0] }}" data-variant="{{ bundle_product.first_available_variant.id }}" data-product="{{ bundle_product.id }}" data-handle="{{ handle }}">
        <div class="card-product-wrapper flex-box justify-between align-center rel">
          <div class="card-product-image rel">
            <img src="{{ bundle_product.featured_image | img_url: '200x' }}" alt="{{ bundle_product.title }}">
          </div>
          <div class="card-product-text product-info rel">
            <div class="flex-box justify-between align-end">
              <div class="product-title">{{ bundle_product.title | strip_html | truncatewords: 2 | escape }}</div>
              <p class="bundled-product-price product-price no-m">{{ bundleVariantPrice | money }}</p>
            </div>
            <p class="product-card-desc">{{ bundle_product.metafields.my_fields.extra_info | escape  }}</p>
            <div class="variants-wrapper">
              {% for variant in bundle_product.variants %}
              {% assign variantPrice = variant.price | times: bundleDiscount %}
              {% assign variantPrice = variantPrice | divided_by: 100 %}
              {% assign variantPrice = variant.price | minus: variantPrice %}
              <div class="bundle-variant-box {% if forloop.index == 1 %}variant-selected{% endif %}" 
                   data-index="{{ forloop.index }}"
                   data-available="{% if variant.available %}yes{% else %}no{% endif %}"
                   data-sell-out-of-stock="{{ variant.inventory_policy }}"
                   data-inventory-management="{{ variant.inventory_management }}"
                   data-quantity="{{ variant.inventory_quantity }}"
                   value="{{ variant.id }}"
                   variant-name="{{ variant.title }}"
                   data-compare="{{ variant.price }}"
                   data-original-price="{{ variantPrice }}"
                   data-price="{{ variantPrice | money }}">{{ variant.title }}</div>
              {% endfor %}
            </div>
            <p class="bundled-product-price product-price no-d no-t">{{ bundleVariantPrice | money }}</p>
          </div>
        </div>
      </div>
      {% if forloop.last %}{% else %}<span class="product-title bundle-plus">+</span>{% endif %}
      {% endfor %}
    </div>
    <button class="btn bundle-addToCart">{{ 'products.product.buy_now' | t }} <span class="original-bundle-price"></span> <span class="discounted-bundle-price"></span></button>
  </div>

<script>
  
  function calculateBundlePrice() {
  	var originalBundlePrice = 0;
    var discountedBundlePrice = 0;
    $(".bundle-variant-box.variant-selected").each(function() {
      originalBundlePrice = originalBundlePrice + $(this).data("compare");
      discountedBundlePrice = discountedBundlePrice + $(this).data("original-price");
    });
    
    $(".original-bundle-price").text("€"+(originalBundlePrice/100).toFixed(2));
    $(".discounted-bundle-price").text("€"+(discountedBundlePrice/100).toFixed(2));
  }
  
  $(".bundle-variant-box").click(function() {
    var variantPrice = $(this).data('price');
    $(this).parent().find(".bundle-variant-box").removeClass('variant-selected');
    $(this).addClass('variant-selected');
    $(this).parent().parent().find('.bundled-product-price').text(variantPrice);
    $(this).closest(".bundled-product").attr("data-variant", $(this).attr("value"));
  });
  
  $.ajax({
    url: "https://bundles.boldapps.net/v2/delcon-petfood.myshopify.com/product/{{ product.id }}/bundles?tmp="+Math.random().toString().slice(2,11),
    method: "GET",
    dataType: "json"
  })
  .done(function( data ) {
//     console.log(JSON.stringify(data));
    var indexNo;
    $.each( data.member_bundles, function( index, value ){
      var found = true;
      console.log("index : "+index);
      console.log("value : "+JSON.stringify(value));
      $.each( value.products, function( index2, value2 ){
        console.log("found : "+found);
        var foundInside = false;
        console.log("index2 : "+index2);
        console.log("value2 : "+JSON.stringify(value2));
        $('.bundled-product').each(function() {
          console.log("product : "+$(this).data('product'));
          if($(this).data('product') == value2.fulfillments[0].product_id) {
            foundInside = true;
            console.log("product found : "+$(this).data('product'));
          }
        });
        if(!foundInside) {
          found = false;
          console.log("foundInside: "+foundInside);
        }
      });
      if(found) {
        indexNo = index;
        console.log("found: "+found);
      }
    });
    console.log(indexNo);
    
    $.each( data.member_bundles[indexNo].products, function( index, value ){
      $('.bundled-product').each(function() {
        if($(this).data('product') == value.fulfillments[0].product_id) {
          $(this).data('external',value.id);
        }
      });
    });
    console.log('script finished loading');
  })
  .fail(function(error) {
    console.log( error );
  });
  
  $( document ).ready(function() {
    
    calculateBundlePrice();
  
    $('.bundle-addToCart').click(function() {
      var valid = true;
      $('.product-bundle-wrapper .bundled-product').each(function() {
        if($(this).find(".bundle-variant-box").data('available') != "yes") {
          valid = false
        }
      });
      if(!valid) {
      return 0;
      }
      var random = Math.floor(Math.random() * 1000) + 1;
      $('.drawer-cart').addClass('drawn');
      $('.background-drawer-cart').addClass('drawn');
      $('body').addClass('no-scroll');
      $('.cart-body').append(`<div class="load-container"><div class="load"></div></div>`);
      var formData = {
        'items': []
      };      
      $('.product-bundle-wrapper .bundled-product').each(function() {
        formData.items.push({
          'id': parseInt($(this).data('variant')),
          'quantity': 1,
          'properties': {
            'bundle': 'bundle'+random,
            'external': $(this).data('external'),
            'discount': '{{bundleDiscount}}'
          }
        });   
      });
      console.log(formData);
      $.ajax({
        url: "/cart/add.js",
        method: "POST",
        dataType: "json",
        data: formData,
      })
      .done(function( data ) {     
        
        $.ajax({
          url: '{% unless routes.root_url == "/" %}{{ routes.root_url }}{% endunless %}/?sections=dc-cart-drawer',
          method: "GET",
          dataType: "json"
        })
        .done(function( data ) {
          {% include "cart-done" %}
        })
        .fail(function(error) {
          console.log( error );
          $('.load-container').remove();
        });

//       if($('.drawer-cart-upsell').length > 0 && $('.upsell-product-wrap').length > 0) {
//       	$('.cart-body').addClass("with-upsell");
//       }
//       else {
//       	$('.cart-body').removeClass("with-upsell");
//       }
        $('.load-container').remove();
      })
      .fail(function(error) {
        console.log( error );
        $('.load-container').remove();
      });
    });
    
    
  });
</script>
{% endif %}