{% if product.metafields.my_fields.bundle_products != blank %}
  {% assign bundled_product_handles = product.metafields.my_fields.bundle_products | split: "," %}
  <div class="product-bundle-wrapper rel">
    <div class="flex-box justify-between align-center">
      {% for handle in bundled_product_handles %}
      {% assign bundle_product = all_products[handle] %}
      <div class="card-product bundled-product rel" data-external="{{ bundleProductsExternalId[forloop.index0] }}" data-variant="{{ bundle_product.first_available_variant.id }}" data-product="{{ bundle_product.id }}" data-handle="{{ handle }}">
        <div class="card-product-wrapper flex-box justify-between align-center rel">
          <div class="card-product-image rel">
            <img src="{{ bundle_product.featured_image | img_url: '200x' }}" alt="{{ bundle_product.title }}">
          </div>
          <div class="card-product-text product-info rel">
            <div class="flex-box justify-between align-end">
              <div class="product-title">{{ bundle_product.title | strip_html | truncatewords: 2 | escape }}</div>
              <p class="card-product-price product-price">{{ bundle_product.selected_or_first_available_variant.price | money }}</p>
            </div>
            <p class="product-card-desc">{{ product.metafields.my_fields.extra_info | escape  }}</p>
            <div class="variants-wrapper">
              {% for variant in bundle_product.variants %}
              <div class="variant-box {% if forloop.index == 1 %}variant-selected{% endif %}" data-index="{{ forloop.index }}" data-price="{{ variant.price | money }}">{{ variant.title }}</div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% if forloop.last %}{% else %}<span class="product-title bundle-plus">+</span>{% endif %}
      {% endfor %}
    </div>
  </div>
<script>
  
  $.ajax({
    url: "https://bundles.boldapps.net/v2/delcon-petfood.myshopify.com/product/{{ product.id }}/bundles?tmp="+Math.random().toString().slice(2,11),
    method: "GET",
    dataType: "json"
  })
  .done(function( data ) {
//     console.log(JSON.stringify(data));
    var indexNo;
    $.each( data.member_bundles, function( index, value ){
      var found = true;
      console.log("index : "+index);
      console.log("value : "+JSON.stringify(value));
      $.each( value.products, function( index2, value2 ){
        console.log("found : "+found);
        var foundInside = false;
        console.log("index2 : "+index2);
        console.log("value2 : "+JSON.stringify(value2));
        $('.bundled-product').each(function() {
          console.log("product : "+$(this).data('product'));
          if($(this).data('product') == value2.fulfillments[0].product_id) {
            foundInside = true;
            console.log("product found : "+$(this).data('product'));
            return false;
          }
        });
        if(!foundInside) {
          found = false;
          console.log("foundInside: "+foundInside);
        }
      });
      if(found) {
        indexNo = index;
        console.log("found: "+found);
      }
    });
    console.log(indexNo);
    
    $.each( data.member_bundles[indexNo].products, function( index, value ){
      $('.bundled-product').each(function() {
        if($(this).data('product') == value.fulfillments[0].product_id) {
          $(this).data('external',value.id);
        }
      });
    });
    console.log('script finished loading');
  })
  .fail(function(error) {
    console.log( error );
  });
  
</script>
{% endif %}