{{ 'dc-product-card.css' | asset_url | stylesheet_tag }}

<div class="wrap" style="position: relative;z-index: 9;">
  <div class="modal" id="card-product-{{ product.id }}">
    <div class="card-product rel no-disp">
      <div class="container">
        <div class="card-product-wrapper flex-box justify-between align-center rel">
          <div class="card-product-image rel">
            <img src="{{ product.images[1] | default: product.featured_image | img_url: 'x590' }}" alt="{{ product.title }}" loading="lazy">
          </div>
          <div class="card-product-text rel">
			{{ product.title }} - {{ product.price | money }}
          </div>
        </div>
      </div>
      <div class="closeoverlay"></div>
    </div>
  </div>
</div>

<script>
  $(".closeoverlay").click(function() {
  	$(this).parent().addClass('no-disp');
    $(this).parent().parent().css("opacity", 0);
    $(this).parent().parent().css("pointer-events", "none");
  });
</script>