<div class="wrap" style="position: relative;z-index: 9;">
  <div class="modal" id="card-product-{{ product.id }}">
    <div class="card-product rel no-disp">
      <div class="container" style="z-index: 4;">
        <div class="card-product-wrapper flex-box justify-between align-center rel">
          <div class="card-product-image rel">
            
            <div class="product-slider-for rel" id="product-slider">
              {% for media in product.media %}
              {% if media.media_type == "video" %}
              <div class="product-img" data-vid="yes" href="{{ media | img_url: 'master' }}" data-caption="{{ product.title | escape  }}" data-width="{{media.width}}" data-height="{{media.height}}" itemprop="contentUrl" data-index="{{ forloop.index0 }}">
                <video autoplay muted playsinline="playsinline" preload="metadata" aria-label="{{ product.title }}" poster="{{ media.preview_image | img_url: 'x590' }}" loop>{% for video_source in media.sources %}<source src="{{ video_source.url }}" type="{{ video_source.mime_type }}">{% endfor %}</video>
              </div>  
              {% else %}
              <img src="{{ media | img_url: 'x590' }}" alt="{{ product.title | escape }}" loading="lazy">
              {% endif %}
              {% endfor %}
            </div>
            
            <div class="slider-nav no-t no-m {% for media in product.media %}{% if forloop.length < 8 %} no-transform{% endif %}{% endfor %}">
              {% for media in product.media %}          
              {% if media.media_type == "video" %}
              <video autoplay muted playsinline="playsinline" preload="metadata" aria-label="{{ product.title }}" poster="{{ media.preview_image | img_url: '200x' }}" loop>{% for video_source in media.sources %}<source src="{{ video_source.url }}" type="{{ video_source.mime_type }}">{% endfor %}</video>
              {% else %}
              <img src="{{ media | img_url: '100x' }}" alt="{{ product.title | escape }}" loading="lazy">
              {% endif %}
              {% endfor %}
            </div>

          </div>
          <div class="card-product-text rel">
            <div class="flex-box justify-between align-end">
              <h2 class="product-title">{{ product.title }}</h2>
              <p class="card-product-price product-price">{{ product.selected_or_first_available_variant.price | money }}</p>
            </div>
            {% for variant in product.variants %}
              <div class="variant-features {% if forloop.index != 1 %}no-disp{% endif %}" data-index="{{ forloop.index }}">
                {{ variant.metafields.my_fields.variant_desc }}
              </div>
            {% endfor %}
            <span class="numverOfVariants">{{ total_variants }} <span class="total-variants">{{ product.variants.size }}</span> {{ maten }}</span>
            <div class="variants-wrapper">
              {% for variant in product.variants %}
              	<div class="variant-box {% if forloop.index == 1 %}variant-selected{% endif %}" data-index="{{ forloop.index }}" data-price="{{ variant.price | money }}">{{ variant.title }}</div>
              {% endfor %}
            </div>
            <a href="{{ product.url }}" class="btn product-card-btn">{{ koop_online }}</a>
            <a href="/pages/verdeelpunten-belgie" class="btn product-local-btn">{{ koop_local }}</a>
          </div>
        </div>
      </div>
      <div class="closeoverlay"></div>
    </div>
  </div>
</div>

<script>
  
  $(".closeoverlay").click(function() {
  	$(this).parent().addClass('no-disp');
    $(this).parent().parent().css("opacity", 0);
    $(this).parent().parent().css("pointer-events", "none");
  });
  
  $(".variant-box").click(function() {
  	var variantIndex = $(this).data('index');
    var variantPrice = $(this).data('price');
    
    $(".variant-box").removeClass('variant-selected');
    $(this).addClass('variant-selected');
    $('.card-product-price').text(variantPrice);
    
    $('.variant-features').addClass('no-disp');
    $('.variant-features').each(function() {
      if($(this).data('index') == variantIndex) {
      	$(this).removeClass('no-disp');
      }
    });
    
  });
  
</script>