{{ 'dc-product-card.css' | asset_url | stylesheet_tag }}

<div class="wrap" style="position: relative;z-index: 9;">
  <div class="modal" id="card-product-{{ product.id }}">
    <div class="card-product rel no-disp">
      <div class="container" style="z-index: 4;">
        <div class="card-product-wrapper flex-box justify-between align-center rel">
          <div class="card-product-image rel">
            
            <div class="slider-for rel" id="product-slider">
              {% for media in product.media %}
              {% if media.media_type == "video" %}
              <div class="product-img" data-vid="yes" href="{{ media | img_url: 'master' }}" data-caption="{{ product.title | escape  }}" data-width="{{media.width}}" data-height="{{media.height}}" itemprop="contentUrl" data-index="{{ forloop.index0 }}">
                <video autoplay muted playsinline="playsinline" preload="metadata" aria-label="{{ product.title }}" poster="{{ media.preview_image | img_url: '540x' }}" loop>{% for video_source in media.sources %}<source src="{{ video_source.url }}" type="{{ video_source.mime_type }}">{% endfor %}</video>
              </div>  
              {% else %}
              <img src="{{ media | img_url: '540x' }}" alt="{{ product.title | escape }}" loading="lazy">
              {% endif %}
              {% endfor %}
            </div>
            
            <div class="slider-nav no-t no-m {% for media in product.media %}{% if forloop.length < 8 %} no-transform{% endif %}{% endfor %}">
              {% for media in product.media %}          
              {% if media.media_type == "video" %}
              <video autoplay muted playsinline="playsinline" preload="metadata" aria-label="{{ product.title }}" poster="{{ media.preview_image | img_url: '200x' }}" loop>{% for video_source in media.sources %}<source src="{{ video_source.url }}" type="{{ video_source.mime_type }}">{% endfor %}</video>
              {% else %}
              <img src="{{ media | img_url: '100x' }}" alt="{{ product.title | escape }}" loading="lazy">
              {% endif %}
              {% endfor %}
            </div>
            <img src="{{ product.images[1] | default: product.featured_image | img_url: 'x590' }}" alt="{{ product.title }}" loading="lazy">
          </div>
          <div class="card-product-text rel">
			{{ product.title }} - {{ product.price | money }}
          </div>
        </div>
      </div>
      <div class="closeoverlay"></div>
    </div>
  </div>
</div>

<script>
  $(".closeoverlay").click(function() {
  	$(this).parent().addClass('no-disp');
    $(this).parent().parent().css("opacity", 0);
    $(this).parent().parent().css("pointer-events", "none");
  });
</script>