{{ 'dc-customer.css' | asset_url | stylesheet_tag }}

<div class="customer account">
  <div class="container">
    <div class="flex-box justify-between align-start">
      <div class="account-options-wrapper">
        <h1 class="account-heading">{{ 'customer.account.welcome_title' | t: name: customer.first_name }}</h1>
        <a href="#" class="account-option selected">{{ 'customer.account.title' | t }}</a>
        <a href="{{ routes.account_addresses_url }}" class="account-option">{{ 'customer.account.details' | t }}</a>
        <a href="/pages/my-pets" class="account-option">{{ 'customer.account.pets' | t }}</a>
      </div>
      <div class="account-details">
      </div>
    </div>
  </div>
</div>
