{{ 'dc-customer.css' | asset_url | stylesheet_tag }}
{{ 'dc-faq-section.css' | asset_url | stylesheet_tag }}

<div class="customer account">
  <div class="container">
    <div class="flex-box justify-between align-start">
      <div class="account-options-wrapper">
        <h1 class="account-heading">{{ 'customer.account.welcome_title' | t: name: customer.first_name }}</h1>
        <a href="#" class="account-option selected">{{ 'customer.account.title' | t }} <span class="arrow-right">{% include "arrow-right" %}</span></a>
        <a href="{{ routes.account_addresses_url }}" class="account-option">{{ 'customer.account.details' | t }} <span class="arrow-right">{% include "arrow-right" %}</span></a>
        <a href="/pages/my-pets" class="account-option">{{ 'customer.account.pets' | t }} <span class="arrow-right">{% include "arrow-right" %}</span></a>
      </div>
      <div class="account-details">
        {% paginate customer.orders by 20 %}
          {%- if customer.orders.size > 0 -%}
        	{%- for order in customer.orders -%}
            <div class="order-wrapper">
              <h2 class="accordion">{{ 'customer.orders.order_number_link' | t: number: order.name }} - {{ 'customer.orders.date' | t }} {{ order.created_at | date: format: 'basic' }} - {{ order.total_price | money }}<span class="symbol">{% render "accordion-plus" %}</span></h2>
              <div class="panel">
                <div class="order-address-wrapper">
                  <div class="order-billing-address">
                    <p class="address-title">{{ 'customer.order.billing_address' | t }}</p>
                    {{ order.billing_address | format_address }}
                  </div>
                  <div class="order-shipping-address">
                    <p class="address-title">{{ 'customer.order.shipping_address' | t }}</p>
                    {{ order.shipping_address | format_address }}
                  </div>
                </div>
                <div class="order-products-wrapper">
                  <p class="order-product-title">{{ 'customer.order.product' | t }}</p>
                  {%- for line_item in order.line_items -%}
                  <div class="ordered-product">
                    <div class="ordered-product-image">
                      <a href="{{ line_item.url }}">
                        <img src="{{ line_item.variant.image.src | default: line_item.product.featured_image | img_url: '120x' }}" alt="{{ line_item.title }}">
                      </a>
                    </div>
                    <div class="ordered-product-details">
                      <div class="ordered-info">
                        <span class="ordered-qty-box">{{ line_item.quantity }}</span>
                        <div>
                          <div class="product-name">{{ line_item.title }}</div>
                          <div class="product-color">{{ line_item.product.metafields.my_fields.extra_info }} - inhoud: {{ line_item.variant.title }}</div>
                          <div class="product-color">{{ line_item.final_price | money }}</div>
                        </div>
                      </div>
                      <div class="ordered-product-price">
                        <div class="product-selling-price">{{ line_item.final_line_price | money }}</div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
                <div class="order-subtotal-wrapper">
                  <div class="checkout-subtotal justify-between">
                    <div class="subtotal-title">{{ 'customer.order.subtotal' | t }}</div>
                    <div class="subtotal">{{ order.line_items_subtotal_price | money }}</div>
                  </div>
                  <div class="checkout-subtotal justify-between">
                    <div class="subtotal-title">{{ 'customer.order.discount' | t }}</div>
                    <div class="subtotal">
                      {% if order.total_discounts > 0 %}
                        {{ order.total_discounts | money }}
                      {% else %}-{% endif %}
                    </div>
                  </div>
                  <div class="checkout-subtotal justify-between">
                    <div class="subtotal-title">{{ 'customer.order.shipping' | t }}</div>
                    <div class="subtotal">
                      {% if order.shipping_price > 0 %}
                      	{{ order.shipping_price | money }}
                      {% else %}
                      	{{ 'customer.order.shipping_free' | t }}
                      {% endif %}
                    </div>
                  </div>
                  <div class="checkout-subtotal justify-between">
                    <div class="subtotal-title">{{ 'customer.order.tax' | t }}</div>
                    <div class="subtotal">
                      {% if order.tax_price > 0 %}
                      	{{ order.tax_price | money }}
                      {% else %}
                      	{{ 'customer.order.shipping_free' | t }}
                      {% endif %}
                    </div>
                  </div>
                  <div class="checkout-subtotal justify-between">
                    <div class="subtotal-title">{{ 'customer.order.total' | t }}</div>
                    <div class="subtotal">
                      {{ order.total_price | money }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
        	{% endfor %}
        	{% comment %}{% endcomment %}
              <div class="order-wrapper">
                <h2 class="accordion">Bestelnummer #1638 - Datum 31-5-2022 - €444,40<span class="symbol"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                  <g id="Lines" transform="translate(-0.001 5)">
                    <line id="Line-1" y2="12" transform="translate(6.001 -5)" fill="none" stroke="#b499bf" stroke-linejoin="round" stroke-width="2"></line>
                    <line id="Line-2" data-name="Line" x2="12" transform="translate(0.001 1)" fill="none" stroke="#b499bf" stroke-linejoin="round" stroke-width="2"></line>
                  </g>
                  </svg></span></h2>
                <div class="panel" style="">
                  <div class="order-address-wrapper">
                    <div class="order-billing-address">
                      <p class="address-title">Factuuradres</p>
                      <p>Dhaval Dave<br>België</p>
                    </div>
                    <div class="order-shipping-address">
                      <p class="address-title">Bezorgadres</p>
                      <p>Dhaval Dave<br>België</p>
                    </div>
                  </div>
                  <div class="order-products-wrapper">
                    <p class="order-product-title">Product</p><div class="ordered-product">
                    <div class="ordered-product-image">
                      <a href="/products/assortiment-chews?variant=40676704911539">
                        <img src="//cdn.shopify.com/s/files/1/0578/5976/8499/products/IMG_4678_120x.jpg?v=1633012238" alt="Assortment chews (12pcs x 12)">
                      </a>
                    </div>
                    <div class="ordered-product-details">
                      <div class="ordered-info">
                        <span class="ordered-qty-box">3</span>
                        <div>
                          <div class="product-name">Assortment chews (12pcs x 12)</div>
                          <div class="product-color"> - inhoud: Default Title</div>
                          <div class="product-color">€109,50</div>
                        </div>
                      </div>
                      <div class="ordered-product-price">
                        <div class="product-selling-price">€328,50</div>
                      </div>
                    </div>
                    </div>
                    <div class="ordered-product">
                      <div class="ordered-product-image">
                        <a href="/products/delcon-elite?variant=40019567378611">
                          <img src="//cdn.shopify.com/s/files/1/0578/5976/8499/products/delcon-elite-2_120x.png?v=1638364048" alt="Delcon Elite - 3kg">
                        </a>
                      </div>
                      <div class="ordered-product-details">
                        <div class="ordered-info">
                          <span class="ordered-qty-box">2</span>
                          <div>
                            <div class="product-name">Delcon Elite - 3kg</div>
                            <div class="product-color"> - inhoud: 3kg</div>
                            <div class="product-color">€20,50</div>
                          </div>
                        </div>
                        <div class="ordered-product-price">
                          <div class="product-selling-price">€41,00</div>
                        </div>
                      </div>
                    </div>
                    <div class="ordered-product">
                      <div class="ordered-product-image">
                        <a href="/products/delcon-hypoallergenic?variant=40010501652659">
                          <img src="//cdn.shopify.com/s/files/1/0578/5976/8499/products/delcon-hypoallergenic-2_120x.png?v=1638364126" alt="Delcon Hypoallergenic - 10kg">
                        </a>
                      </div>
                      <div class="ordered-product-details">
                        <div class="ordered-info">
                          <span class="ordered-qty-box">1</span>
                          <div>
                            <div class="product-name">Delcon Hypoallergenic - 10kg</div>
                            <div class="product-color"> - inhoud: 10kg</div>
                            <div class="product-color">€74,90</div>
                          </div>
                        </div>
                        <div class="ordered-product-price">
                          <div class="product-selling-price">€74,90</div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="order-subtotal-wrapper">
                    <div class="checkout-subtotal justify-between">
                      <div class="subtotal-title">Subtotaal</div>
                      <div class="subtotal">€444,40</div>
                    </div>
                    <div class="checkout-subtotal justify-between">
                      <div class="subtotal-title">Korting</div>
                      <div class="subtotal">
                        -
                      </div>
                    </div>
                    <div class="checkout-subtotal justify-between">
                      <div class="subtotal-title">Verzending</div>
                      <div class="subtotal">

                        Gratis

                      </div>
                    </div>
                    <div class="checkout-subtotal justify-between">
                      <div class="subtotal-title">Belasting</div>
                      <div class="subtotal">

                        €77,13

                      </div>
                    </div>
                    <div class="checkout-subtotal justify-between">
                      <div class="subtotal-title">Totaal</div>
                      <div class="subtotal">
                        €444,40
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        	{% comment %}{% endcomment %}
          {%- else -%}
            <p>{{ 'customer.orders.none' | t }}</p>
          {%- endif -%}

          {%- if paginate.pages > 1 -%}
            {%- if paginate.parts.size > 0 -%}
                <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
                  <ul role="list">
                  {%- if paginate.previous -%}
                    <li>
                      <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                        <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor" />
                        </svg>
                      </a>
                    </li>
                  {%- endif -%}

                  {%- for part in paginate.parts -%}
                    <li>
                      {%- if part.is_link -%}
                        <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</a>
                      {%- else -%}
                        {%- if part.title == paginate.current_page -%}
                          <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</span>
                        {%- else -%}
                          <span>{{ part.title }}</span>
                        {%- endif -%}
                      {%- endif -%}
                    </li>
                  {%- endfor -%}

                  {%- if paginate.next -%}
                    <li>
                      <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}" >
                        <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor" />
                        </svg>
                      </a>
                    </li>
                  {%- endif -%}
                  </ul>
                </nav>
            {%- endif -%}
          {%- endif -%}
        {% endpaginate %}
      </div>
    </div>
  </div>
</div>

<script>

  $(document).ready(function() {
    $(".accordion").click(function() {
      var acc = $(this).hasClass('faq-active')
      $(".accordion").each(function() {
        $(this).removeClass("faq-active");
        var panel = $(this).next()[0];
        panel.style.maxHeight = null;
      });
      if(acc) {
        $(this).removeClass("faq-active")
        var panel = $(this).next()[0];
        panel.style.maxHeight = null;
      }
      else {
        $(this).addClass("faq-active")
        var panel = $(this).next()[0];
        panel.style.maxHeight = panel.scrollHeight + "px";
      } 
    });
  });

</script>