{{ 'dc-customer.css' | asset_url | stylesheet_tag }}

<div class="customer account">
  <div class="container">
    <div class="flex-box justify-between align-start">
      <div class="account-options-wrapper">
        <h1 class="account-heading">{{ 'customer.account.welcome_title' | t: name: customer.first_name }}</h1>
        <a href="{{ routes.account_url }}" class="account-option">{{ 'customer.account.title' | t }} <span class="arrow-right">{% include "arrow-right" %}</span></a>
        <a href="#" class="account-option selected">{{ 'customer.account.details' | t }} <span class="arrow-right">{% include "arrow-right" %}</span></a>
        <a href="/pages/my-pets" class="account-option">{{ 'customer.account.pets' | t }} <span class="arrow-right">{% include "arrow-right" %}</span></a>
      </div>
      <div class="address-details">
        {%- paginate customer.addresses by 5 -%}
          <div class="">

            <div class="account-address-wrapper">
              
              {% for address in customer.addresses %}
              <div class="flex-box">
                <div class="customer-address">
                  <p class="address-heading">{% if address == customer.default_address %}{{ 'customer.addresses.default' | t }}{% else %}{{ 'customer.addresses.title' | t }}{% endif %}</p>
                  {{ address | format_address }}
                </div>

                <div class="">
                  <span class="edit-address" id="EditFormButton_{{ address.id }}" data-form="{{ address.id }}">{{ 'customer.addresses.edit' | t }}</span>
                  <span class="delete-address" id="DeleteFormButton_{{ address.id }}" data-form="{{ address.id }}">{{ 'customer.addresses.delete' | t }}</span>
                </div>
              </div>
              
              <div class="wrap" style="position: relative; z-index: 9;">
                <div class="modal">
                  <div class="container">
                    <div class="addresses rel" id="EditAddress_{{ address.id }}">
                      <span class="close-address" data-form="EditAddress_{{ address.id }}">{% include 'icon-close-new' %}</span>
                      <h2 class="tk-le-monde-livre-classic-byol text-center">{{ 'customer.addresses.edit_address' | t }}</h2>
                      {%- form 'customer_address', address -%}
                      <div class="row">
                        <div class="field column">
                          <input type="text" id="AddressFirstName_{{ form.id }}" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name" placeholder="{{ 'customer.addresses.first_name' | t }}">
                          <label for="AddressFirstName_{{ form.id }}" class="no-disp">{{ 'customer.addresses.first_name' | t }}</label>
                        </div>
                        <div class="field column">
                          <input type="text" id="AddressLastName_{{ form.id }}" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name" placeholder="{{ 'customer.addresses.last_name' | t }}">
                          <label for="AddressLastName_{{ form.id }}" class="no-disp">{{ 'customer.addresses.last_name' | t }}</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="field column">
                          <input type="text" id="AddressCompany_{{ form.id }}" name="address[company]" value="{{ form.company }}" autocomplete="organization" placeholder="{{ 'customer.addresses.company' | t }}">
                          <label for="AddressCompany_{{ form.id }}" class="no-disp">{{ 'customer.addresses.company' | t }}</label>
                        </div>
                        <div class="field column">
                          <input type="tel" id="AddressPhone_{{ form.id }}"  name="address[phone]" value="{{ form.phone }}" autocomplete="tel" placeholder="{{ 'customer.addresses.phone' | t }}">
                          <label for="AddressPhone_{{ form.id }}" class="no-disp">{{ 'customer.addresses.phone' | t }}</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="field column">
                          <input type="text" id="AddressAddress1_{{ form.id }}" name="address[address1]" value="{{ form.address1 }}" autocomplete="address-line1" placeholder="{{ 'customer.addresses.address1' | t }}">
                          <label for="AddressAddress1_{{ form.id }}" class="no-disp">{{ 'customer.addresses.address1' | t }}</label>
                        </div>
                        <div class="field column">
                          <input type="text" id="AddressAddress2_{{ form.id }}" name="address[address2]" value="{{ form.address2 }}" autocomplete="address-line2" placeholder="{{ 'customer.addresses.address2' | t }}">
                          <label for="AddressAddress2_{{ form.id }}" class="no-disp">{{ 'customer.addresses.address2' | t }}</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="field column">
                          <input type="text" id="AddressZip_{{ form.id }}" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code" placeholder="{{ 'customer.addresses.zip' | t }}">
                          <label for="AddressZip_{{ form.id }}" class="no-disp">{{ 'customer.addresses.zip' | t }}</label>
                        </div>
                        <div class="field column">
                          <input type="text" id="AddressCity_{{ form.id }}" name="address[city]" value="{{ form.city }}" autocomplete="address-level2" placeholder="{{ 'customer.addresses.city' | t }}">
                          <label for="AddressCity_{{ form.id }}" class="no-disp">{{ 'customer.addresses.city' | t }}</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="column">
                          <label for="AddressCountry_{{ form.id }}" class="no-disp">
                            {{ 'customer.addresses.country' | t }}
                          </label>
                          <select id="AddressCountry_{{ form.id }}" name="address[country]" data-address-country-select data-default="{{ form.country }}" data-form-id="{{ form.id }}" autocomplete="country">{{ all_country_option_tags }}</select>
                        </div>
                      </div>
                      <div class="default-address">
                        {{ form.set_as_default_checkbox }}
                        <label for="address_default_address_{{ form.id }}">
                          {{ 'customer.addresses.set_default' | t }}
                        </label>
                      </div>
                      <div class="flex-box justify-between align-center" style="margin-top: 8px;">
                        <span class="cancel-edit" data-form="EditAddress_{{ address.id }}">{{ 'customer.addresses.cancel' | t }}</span>
                        <button type="submit" class="btn address-btn">{{ 'customer.addresses.update' | t }}</button>
                      </div>
                      {%- endform -%}
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            
            {%- if paginate.pages > 1 -%}
            {%- if paginate.parts.size > 0 -%}
            <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
              <ul role="list">
                {%- if paginate.previous -%}
                <li>
                  <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                    <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6" style="transform: rotate(90deg);">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor" />
                    </svg>
                  </a>
                </li>
                {%- endif -%}

                {%- for part in paginate.parts -%}
                <li>
                  {%- if part.is_link -%}
                  <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</a>
                  {%- else -%}
                  {%- if part.title == paginate.current_page -%}
                  <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</span>
                  {%- else -%}
                  <span>{{ part.title }}</span>
                  {%- endif -%}
                  {%- endif -%}
                </li>
                {%- endfor -%}

                {%- if paginate.next -%}
                <li>
                  <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}" >
                    <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor" />
                    </svg>
                  </a>
                </li>
                {%- endif -%}
              </ul>
            </nav>
            {%- endif -%}
            {%- endif -%}
          </div>
        {%- endpaginate -%}
        
        <button class="btn add-address-btn">{{ 'customer.addresses.add_new' | t }}</button>
        
        <div class="wrap" style="position: relative; z-index: 9;">
          <div class="modal">
            <div class="container">
              <div id="AddAddress" class="rel">
                <span class="close-address" data-form="AddAddress">{% include 'icon-close-new' %}</span>
                <h2 id="AddressNewHeading" class="tk-le-monde-livre-classic-byol text-center">{{ 'customer.addresses.add_new' | t }}</h2>
                {%- form 'customer_address', customer.new_address, aria-labelledBy: 'AddressNewHeading' -%}
                <div class="row">
                  <div class="field column">
                    <input type="text" id="AddressFirstNameNew" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name" placeholder="{{ 'customer.addresses.first_name' | t }}">
                    <label for="AddressFirstNameNew" class="no-disp">{{ 'customer.addresses.first_name' | t }}</label>
                  </div>
                  <div class="field column">
                    <input type="text" id="AddressLastNameNew" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name" placeholder="{{ 'customer.addresses.last_name' | t }}">
                    <label for="AddressLastNameNew" class="no-disp">{{ 'customer.addresses.last_name' | t }}</label>
                  </div>
                </div>
                <div class="row">
                  <div class="field column">
                    <input type="text" id="AddressCompanyNew" name="address[company]" value="{{ form.company }}" autocomplete="organization" placeholder="{{ 'customer.addresses.company' | t }}">
                    <label for="AddressCompanyNew" class="no-disp">{{ 'customer.addresses.company' | t }}</label>
                  </div>
                  <div class="field column">
                    <input type="tel" id="AddressPhoneNew" name="address[phone]" value="{{ form.phone }}" autocomplete="tel" placeholder="{{ 'customer.addresses.phone' | t }}">
                    <label for="AddressPhoneNew" class="no-disp">{{ 'customer.addresses.phone' | t }}</label>
                  </div>
                </div>
                <div class="row">
                  <div class="field column">
                    <input type="text" id="AddressAddress1New" name="address[address1]" value="{{ form.address1 }}" autocomplete="address-line1" placeholder="{{ 'customer.addresses.address1' | t }}">
                    <label for="AddressAddress1New" class="no-disp">{{ 'customer.addresses.address1' | t }}</label>
                  </div>
                  <div class="field column">
                    <input type="text" id="AddressAddress2New" name="address[address2]" value="{{ form.address2 }}" autocomplete="address-line2" placeholder="{{ 'customer.addresses.address2' | t }}">
                    <label for="AddressAddress2New" class="no-disp">{{ 'customer.addresses.address2' | t }}</label>
                  </div>
                </div>
                <div class="row">
                  <div class="field column">
                    <input type="text" id="AddressZipNew" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code" placeholder="{{ 'customer.addresses.zip' | t }}">
                    <label for="AddressZipNew" class="no-disp">{{ 'customer.addresses.zip' | t }}</label>
                  </div>
                  <div class="field column">
                    <input type="text" id="AddressCityNew" name="address[city]" value="{{ form.city }}" autocomplete="address-level2" placeholder="{{ 'customer.addresses.city' | t }}">
                    <label for="AddressCityNew" class="no-disp">{{ 'customer.addresses.city' | t }}</label>
                  </div>
                </div>
                <div class="row">
                  <div class="column">
                    <label for="AddressCountryNew" class="no-disp">{{ 'customer.addresses.country' | t }}</label>
                    <select
                            id="AddressCountryNew"
                            name="address[country]"
                            data-default="{{ form.country }}"
                            autocomplete="country"
                            >
                      {{ all_country_option_tags }}
                    </select>
                  </div>
                </div>
                <div class="default-address">
                  {{ form.set_as_default_checkbox }}
                  <label for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
                </div>
                <div class="flex-box justify-between align-center" style="margin-top: 8px;">
                  <span class="cancel-edit" data-form="AddAddress">{{ 'customer.addresses.cancel' | t }}</span>
                  <button type="submit" class="btn address-btn">{{ 'customer.addresses.add' | t }}</button>
                </div>
                {%- endform -%}
              </div>
            </div>
          </div>
        </div>
        
        <div class="email-password-wrapper flex-box">
          <div class="customer-address">
            <p class="address-heading">{{ 'customer.addresses.login_details' | t }}</p>
            {{ customer.email }}<br/>
            <p class="">*********</p>
          </div>
          <div>
            <a href="{{ routes.account_login_url }}#forgot-password" class="forgot-pass-link rel">{{ 'customer.reset_password.title' | t }}</a>
          </div>
        </div>
        
        <div class="newsletter-block">
          <p class="address-heading">{{ 'newsletter.title' | t }}</p>
          <div class="flex-box align-center">
            <input type="checkbox" value="" id="accountNewsletter" {% if customer.accepts_marketing == true %}checked="checked" disabled{% endif %}>
            <label for="accountNewsletter">{{ 'newsletter.subscribe_text' | t }}</label>
            <div class="no-disp">
              {% section "dc-newsletter" %}
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>

<script>
  
  $("#accountNewsletter:is(disabled)").change(function() {
    console.log("{{ customer.email }}")
    $("#email_signup_newsletter #k_id_email").val("{{ customer.email }}");
	$("#email_signup_newsletter").submit();
  });
  
  $(".edit-address").click(function() {
  	var addressForm = $(this).data('form');
    $("#EditAddress_"+addressForm).css("display","block");
    $("#EditAddress_"+addressForm).parent().parent().css("opacity","1");
    $("#EditAddress_"+addressForm).parent().parent().css("pointer-events","auto");
  });
  
  $(".close-address, .cancel-edit").click(function() {
    var addressForm = $(this).data('form');
    $("#"+addressForm).css("display","none");
    $("#"+addressForm).parent().parent().css("opacity","0");
    $("#"+addressForm).parent().parent().css("pointer-events","none");
  });
  
  $(".add-address-btn").click(function() {
  	var $addAddress = $("#AddAddress");
    $($addAddress).css("display","block");
    $($addAddress).parent().parent().css("opacity","1");
    $($addAddress).parent().parent().css("pointer-events","auto");
  });
  
  $(".delete-address").click(function() {
  	var addressId = $(this).data('form');
    Shopify.postLink('/account/addresses/'+addressId, {'parameters': {'_method': 'delete'}});
    console.log("delete this form");
  });
  
</script>