{{ 'dc-customer.css' | asset_url | stylesheet_tag }}

<script src="{{ 'customer.js' | asset_url }}" defer></script>

<div class="customer account">
  <div class="container">
    <div class="flex-box justify-between align-start">
      <div class="account-options-wrapper">
        <h1 class="account-heading">{{ 'customer.account.welcome_title' | t: name: customer.first_name }}</h1>
        <a href="{{ routes.account_url }}" class="account-option">{{ 'customer.account.title' | t }} <span class="arrow-right">{% include "arrow-right" %}</span></a>
        <a href="#" class="account-option selected">{{ 'customer.account.details' | t }} <span class="arrow-right">{% include "arrow-right" %}</span></a>
        <a href="/pages/my-pets" class="account-option">{{ 'customer.account.pets' | t }} <span class="arrow-right">{% include "arrow-right" %}</span></a>
      </div>
      <div class="address-details">
        {%- paginate customer.addresses by 5 -%}
          <div class="">

            <div class="account-address-wrapper flex-box">
              {% for address in customer.addresses %}
              <div class="customer-address">
                <p class="address-heading">{% if address == customer.default_address %}{{ 'customer.addresses.default' | t }}{% else %}{{ 'customer.addresses.title' | t }}{% endif %}</p>
                {{ address | format_address }}
              </div>
              
              <div class="">
                <span class="edit-address" id="EditFormButton_{{ address.id }}" data-form="{{ address.id }}">{{ 'customer.addresses.edit' | t }}</span>
                <span class="delete-address" id="DeleteFormButton_{{ address.id }}" data-form="{{ address.id }}">{{ 'customer.addresses.delete' | t }}</span>
              </div>
              
              <div class="wrap" style="position: relative; z-index: 9;">
                <div class="modal">
                  <div class="container">
                    <div class="addresses rel" id="EditAddress_{{ address.id }}">
                      <span class="close-address" data-form="EditAddress_{{ address.id }}">{% include 'icon-close-new' %}</span>
                      <h2>{{ 'customer.addresses.edit_address' | t }}</h2>
                      {%- form 'customer_address', address -%}
                      <div class="field">
                        <input type="text" id="AddressFirstName_{{ form.id }}" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name" placeholder="{{ 'customer.addresses.first_name' | t }}">
                        <label for="AddressFirstName_{{ form.id }}" class="no-disp">{{ 'customer.addresses.first_name' | t }}</label>
                      </div>
                      <div class="field">
                        <input type="text" id="AddressLastName_{{ form.id }}" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name" placeholder="{{ 'customer.addresses.last_name' | t }}">
                        <label for="AddressLastName_{{ form.id }}" class="no-disp">{{ 'customer.addresses.last_name' | t }}</label>
                      </div>
                      <div class="field">
                        <input type="text" id="AddressCompany_{{ form.id }}" name="address[company]" value="{{ form.company }}" autocomplete="organization" placeholder="{{ 'customer.addresses.company' | t }}">
                        <label for="AddressCompany_{{ form.id }}" class="no-disp">{{ 'customer.addresses.company' | t }}</label>
                      </div>
                      <div class="field">
                        <input type="text" id="AddressAddress1_{{ form.id }}" name="address[address1]" value="{{ form.address1 }}" autocomplete="address-line1" placeholder="{{ 'customer.addresses.address1' | t }}">
                        <label for="AddressAddress1_{{ form.id }}" class="no-disp">{{ 'customer.addresses.address1' | t }}</label>
                      </div>
                      <div class="field">
                        <input type="text" id="AddressAddress2_{{ form.id }}" name="address[address2]" value="{{ form.address2 }}" autocomplete="address-line2" placeholder="{{ 'customer.addresses.address2' | t }}">
                        <label for="AddressAddress2_{{ form.id }}" class="no-disp">{{ 'customer.addresses.address2' | t }}</label>
                      </div>
                      <div class="field">
                        <input type="text" id="AddressCity_{{ form.id }}" name="address[city]" value="{{ form.city }}" autocomplete="address-level2" placeholder="{{ 'customer.addresses.city' | t }}">
                        <label for="AddressCity_{{ form.id }}" class="no-disp">{{ 'customer.addresses.city' | t }}</label>
                      </div>
                      <div>
                        <label for="AddressCountry_{{ form.id }}" class="no-disp">
                          {{ 'customer.addresses.country' | t }}
                        </label>
                        <div class="select">
                          <select id="AddressCountry_{{ form.id }}" name="address[country]" data-address-country-select data-default="{{ form.country }}" data-form-id="{{ form.id }}" autocomplete="country">{{ all_country_option_tags }}</select>
                        </div>
                      </div>
                      <div id="AddressProvinceContainer_{{ form.id }}" style="display:none;">
                        <label for="AddressProvince_{{ form.id }}" class="no-disp">
                          {{ 'customer.addresses.province' | t }}
                        </label>
                        <div class="select">
                          <select id="AddressProvince_{{ form.id }}" name="address[province]" data-default="{{ form.province }}" autocomplete="address-level1"></select>
                        </div>
                      </div>
                      <div class="field">
                        <input type="text" id="AddressZip_{{ form.id }}" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code" placeholder="{{ 'customer.addresses.zip' | t }}">
                        <label for="AddressZip_{{ form.id }}" class="no-disp">{{ 'customer.addresses.zip' | t }}</label>
                      </div>
                      <div class="field">
                        <input type="tel" id="AddressPhone_{{ form.id }}"  name="address[phone]" value="{{ form.phone }}" autocomplete="tel" placeholder="{{ 'customer.addresses.phone' | t }}">
                        <label for="AddressPhone_{{ form.id }}" class="no-disp">{{ 'customer.addresses.phone' | t }}</label>
                      </div>
                      <div>
                        {{ form.set_as_default_checkbox }}
                        <label for="address_default_address_{{ form.id }}">
                          {{ 'customer.addresses.set_default' | t }}
                        </label>
                      </div>
                      <div>
                        <button>{{ 'customer.addresses.update' | t }}</button>
                        <button type="reset">{{ 'customer.addresses.cancel' | t }}</button>
                      </div>
                      {%- endform -%}
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            
            {%- if paginate.pages > 1 -%}
            {%- if paginate.parts.size > 0 -%}
            <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
              <ul role="list">
                {%- if paginate.previous -%}
                <li>
                  <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                    <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor" />
                    </svg>
                  </a>
                </li>
                {%- endif -%}

                {%- for part in paginate.parts -%}
                <li>
                  {%- if part.is_link -%}
                  <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</a>
                  {%- else -%}
                  {%- if part.title == paginate.current_page -%}
                  <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</span>
                  {%- else -%}
                  <span>{{ part.title }}</span>
                  {%- endif -%}
                  {%- endif -%}
                </li>
                {%- endfor -%}

                {%- if paginate.next -%}
                <li>
                  <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}" >
                    <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor" />
                    </svg>
                  </a>
                </li>
                {%- endif -%}
              </ul>
            </nav>
            {%- endif -%}
            {%- endif -%}
          </div>
        {%- endpaginate -%}
      </div>
    </div>
  </div>
</div>

<script>
  
  $(".edit-address").click(function() {
  	var addressForm = $(this).data('form');
    $("#EditAddress_"+addressForm).css("display","block");
    $("#EditAddress_"+addressForm).parent().parent().css("opacity","1");
    $("#EditAddress_"+addressForm).parent().parent().css("pointer-events","auto");
  });
  
  $(".close-address").click(function() {
    var addressForm = $(this).data('form');
    $("#EditAddress_"+addressForm).css("display","none");
    $("#EditAddress_"+addressForm).parent().parent().css("opacity","0");
    $("#EditAddress_"+addressForm).parent().parent().css("pointer-events","none");
  });
  
  $(".delete-address").click(function() {
  	var addressForm = $(this).data('form');
    console.log("delete this form");
  });
  
</script>