{{ 'dc-customer.css' | asset_url | stylesheet_tag }}

<div class="customer login">
  <div class="container">
    <div class="flex-box justify-between align-center">
      <div class="customer-image-block rel">
        <img src="{{ "Hero_image_2x.png" | asset_img_url: 'x590' }}" alt="login image" loading="lazy">
      </div>
      <div class="customer-text-block rel">
        <div id="forgot-password">
          {%- form 'recover_customer_password' -%}
          {% assign recover_success = form.posted_successfully? %}

          <h1 class="recover-heading tk-le-monde-livre-classic-byol">{{ 'customer.recover_password.title' | t }}</h1>

          <p class="recover-text">{{ 'customer.recover_password.subtext' | t  }}</p>
          
          <div class="field">
            <label for="RecoverEmail" class="no-disp">
              {{ 'customer.login_page.email' | t }}
            </label>
            <input type="email"
                   value=""
                   name="email"
                   id="RecoverEmail"
                   autocorrect="off"
                   autocapitalize="off"
                   autocomplete="email"
                   {% if form.errors %}
                   aria-invalid="true"
                   aria-describedby="RecoverEmail-email-error"
                   autofocus
                   {% endif %}
                   placeholder="{{ 'customer.login_page.email' | t }}"
                   required>
          </div>
          {%- if form.errors -%}
          <p id="RecoverEmail-email-error" class="form__message">
            {{ form.errors.messages['form'] }}
          </p>
          {%- endif -%}

          <button class="btn login-btn">
            {{ 'customer.login_page.submit' | t }}
          </button>

          <a class="login-link marg-top-xxs">
            {{ 'customer.login_page.cancel' | t }}
          </a>
          {%- endform -%}
        </div>
        <div id="login">
          {%- if recover_success == true -%}
            <p class="form__message" tabindex="-1" autofocus>
              {{ 'customer.login_page.update_pwd_msg' | t }}
            </p>
          {%- endif -%}
          {%- form 'customer_login' -%}
            {%- if form.errors -%}
            <p class="form__message" tabindex="-1" autofocus>
              {{ 'customer.login_page.adjust_following' | t }}
            </p>
            {{ form.errors | default_errors }}
            {%- endif -%}

            <h1 class="login-heading tk-le-monde-livre-classic-byol">{{ 'customer.login_page.title' | t }}</h1>

            <div class="field">   
              <label for="CustomerEmail" class="no-disp">
                {{ 'customer.login_page.email' | t }}
              </label>     
              <input
                     type="email"
                     name="customer[email]"
                     id="CustomerEmail"
                     autocomplete="email"
                     autocorrect="off"
                     autocapitalize="off"
                     {% if form.errors contains 'form' %}
                     aria-invalid="true"
                     {% endif %}
                     placeholder="{{ 'customer.login_page.email' | t }}"
                     required>
            </div>

            {%- if form.password_needed -%}
            <div class="field">    
              <label for="CustomerPassword" class="no-disp">
                {{ 'customer.login_page.password' | t }}
              </label>   
              <div class="rel">
                <input
                       type="password"
                       value=""
                       name="customer[password]"
                       id="CustomerPassword"
                       autocomplete="current-password"
                       {% if form.errors contains 'form' %}
                       aria-invalid="true"
                       {% endif %}
                       placeholder="{{ 'customer.login_page.password' | t }}"
                       class="marg-bottom-xxs"
                       required>
                <div id="show-pwd">{{ 'customer.login_page.show' | t }}</div>
              </div>
            </div>

            <a class="forgot-password">
              {{ 'customer.login_page.forgot_password' | t }}
            </a>

            {%- endif -%}

            <button class="btn login-btn">{{ 'customer.log_in' | t }}</button>

            <a href="{{ routes.account_register_url }}" class="create-account sub-marg-top-xs">{{ 'customer.login_page.create_account' | t }}</a>

          {%- endform -%}
          
          {%- if shop.checkout.guest_login -%}
          <div>
            <h2>{{ 'customer.login_page.guest_login' | t }}</h2>

            {%- form 'guest_login' -%}
            <button class="btn btn-full">
              {{ 'customer.log_in' | t }}
            </button>
            {%- endform -%}
          </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</div>

<script>

  $('#show-pwd').click(function(){
    if('password' == $('#CustomerPassword').attr('type')){
      $('#CustomerPassword').prop('type', 'text');
    }else{
      $('#CustomerPassword').prop('type', 'password');
    }
  });
  
  $('.forgot-password').click(function() {
    $('#login').css("display","none");
    $('#forgot-password').css("display","block");
  });
  
  $('.login-link').click(function() {
    $('#login').css("display","block");
    $('#forgot-password').css("display","none");
  });

</script>