{{ 'dc-customer.css' | asset_url | stylesheet_tag }}

<div class="customer register">
  <div class="container">
    <div class="flex-box justify-between align-center">
      <div class="customer-image-block rel">
        <img src="{{ "Hero_image_2x.png" | asset_img_url: 'x590' }}" alt="login image" loading="lazy">
      </div>
      <div class="customer-text-block rel">
        <h1 class="login-heading tk-le-monde-livre-classic-byol">{{ 'customer.register.title' | t }}</h1>
        
        {%- form 'create_customer' -%}
          {%- if form.errors -%}
            <h2 class="form__message" tabindex="-1" autofocus>
              {{ 'customer.register.adjust_following' | t }}
            </h2>
            <ul> 
              <li>
                {{ form.errors | default_errors }}
              </li>
            </ul>
          {%- endif -%}

          <div class="field">      
            <label for="RegisterForm-FirstName" class="no-disp">
              {{ 'customer.register.first_name' | t }}
            </label>
            <input
              type="text"
              name="customer[first_name]"
              id="RegisterForm-FirstName"
              {% if form.first_name %}value="{{ form.first_name }}"{% endif %}
              autocomplete="given-name"
              placeholder="{{ 'customer.register.first_name' | t }}"
              required>
          </div>
          <div class="field">
            <label for="RegisterForm-LastName" class="no-disp">
              {{ 'customer.register.last_name' | t }}
            </label>
            <input
              type="text"
              name="customer[last_name]"
              id="RegisterForm-LastName"
              {% if form.last_name %}value="{{ form.last_name }}"{% endif %}
              autocomplete="family-name"
              placeholder="{{ 'customer.register.last_name' | t }}"
              required>
          </div>
          <div class="field">      
            <label for="RegisterForm-email" class="no-disp">
              {{ 'customer.register.email' | t }}
            </label>
            <input
              type="email"
              name="customer[email]"
              id="RegisterForm-email"
              {% if form.email %} value="{{ form.email }}"{% endif %}
              spellcheck="false"
              autocapitalize="off"
              autocomplete="email"
              aria-required="true"
              {% if form.errors contains 'email' %}
                aria-invalid="true"
                aria-describedby="RegisterForm-email-error"
              {% endif %}
              placeholder="{{ 'customer.register.email' | t }}"
              required>
          </div>

          <div class="field">     
            <label for="RegisterForm-password" class="no-disp">
              {{ 'customer.register.password' | t }}
            </label>
            <input
              type="password"
              name="customer[password]"
              id="RegisterForm-password"
              aria-required="true"
              {% if form.errors contains 'password' %}
                aria-invalid="true"
                aria-describedby="RegisterForm-password-error"
              {% endif %}
              placeholder="{{ 'customer.register.password' | t }}"
              required>
          </div>

          <button class="btn register-btn">
            {{ 'customer.register.submit' | t }}
          </button>
        {%- endform -%}
        
        <a href="{{ routes.account_login_url }}" class="has-account sub-marg-top-xs">{{ 'customer.register.login_link' | t }}</a>
      </div>
    </div>
  </div>
</div>
