{{ 'dc-article-content.css' | asset_url | stylesheet_tag }}
{{ 'dc-blog-main.css' | asset_url | stylesheet_tag }}
{{ 'dc-product-card.css' | asset_url | stylesheet_tag }}

<div class="main-article container rel flex-box justify-between">
  <a href="{% unless routes.root_url == "/" %}{{ routes.root_url }}{% endunless %}/blogs/nieuws" class="back-btn">
    <span class="left-chev">{% render 'arrow-right-sm' %}</span>
    <span class="back-txt">{{ section.settings.back }}</span>
  </a>
  <div class="main-content-wrapper">
    <div class="article-content flex-box" style="background-color:{{ section.settings.background_color }}">
      <div class="article-container">
        <span class="article-tag-date justify-between align-center">
          <div>
            <span class="article-tag{% for tag in article.tags %}{% if forloop.first != blank %} tag-exists{% endif %}{% endfor %}">{% for tag in article.tags %}{% if forloop.first %}{{ tag }}{% endif %}{% endfor %}</span>
            <span class="article-date">{{ article.created_at | date: "%d %B %Y" }}</span>
          </div>
          <span class="article-author">{{ article.author }}</span>
        </span>
        <div class="article-contant">
          <h1 class="article-heading tk-le-monde-livre-classic-byol">{{ article.title }}</h1>
          <div class="article-content-wrapper">{{ section.settings.article_content | default: article.content }}</div>
          
          {% if section.settings.article_upsell.id != blank %}
          {% assign articleUpsellProd = section.settings.article_upsell %}
          <div class="article-upsell-wrapper">
            <div class="article-upsell">
              <div class="article-upsell-image">
                <a href="{{ articleUpsellProd.url }}" aria-label="article upsell">
                  <img src="{{ articleUpsellProd.featured_image | img_url: 'x240' }}" alt="{{ articleUpsellProd.title }}">
                </a>
              </div>
              <div class="article-upsell-infos">
                <div class="flex-box justify-between align-center">
                  <a href="{{ articleUpsellProd.url }}" class="product-name">{{ articleUpsellProd.title }}</a>
                  <span class="product-selling-price">{{ articleUpsellProd.price | money }}</span>
                </div>
                <div class="article-product-desc">{{ articleUpsellProd.metafields.my_fields.extra_info }}</div>
                <div class="variants-wrapper">
                  {% for variant in articleUpsellProd.variants %}
                  <div class="variant-box {% if forloop.index == 1 %}variant-selected{% endif %} {% if product.has_only_default_variant %}no-disp{% endif %}" 
                       data-index="{{ forloop.index }}" 
                       data-avaliable="{% if variant.available %}yes{% else %}no{% endif %}"
                       data-sell-out-of-stock="{{ variant.inventory_policy }}"
                       data-inventory-management="{{ variant.inventory_management }}"
                       data-quantity="{{ variant.inventory_quantity }}"
                       value="{{ variant.id }}"
                       variant-name="{{ variant.title }}"
                       data-compare="{{ variant.compare_at_price | money }}"
                       data-price="{{ variant.price | money }}">{{ variant.title }}</div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    
    <div class="prev-next-comments justify-between">
      {% if blog.previous_article != blank %}
      <a href="{{ blog.previous_article }}" class="shop-link"><span class="left-arrow">{% include "arrow-right-sm" %}</span>{{ section.settings.prev_article }}</a>
      {% endif %}
      {% if blog.next_article != blank %}
      <a href="{{ blog.next_article }}" class="shop-link">{{ section.settings.next_article }}<span class="right-arrow">{% include "arrow-right-sm" %}</span></a>
      {% endif %}
    </div>
    
    {% if blog.comments_enabled? %}
      <div class="comment-box comment-wrapper">
        <div class="flex-box comment-box">
          <div class="comment-box">
            <div class="comment-form">
              {% form 'new_comment', article %}

              {%- assign formId = 'CommentForm' -%}

              <h2 class="comment-heading">
                {% if article.comments.size > 1 %}
                	{{ 'blogs.article.comments.other' | t: count:article.comments.size }}
                {% else %}
                	{{ 'blogs.article.comments.one' | t: count:article.comments.size }}
                {% endif %}
              </h2>

              {%- assign post_message = 'success' -%}
              {%- if blog.moderated? and comment.status == 'pending' -%}
              {%- assign post_message = 'success_moderated' -%}
              {%- elsif comment.status == 'unapproved' or comment.status == 'spam' -%}
              {%- assign post_message = 'unapproved' -%}
              {%- endif -%}

              {% include 'form-status', form: form, form_id: formId, success_message: post_message %}

              <div class="flex-box justify-between comment-box">

                <div class="col-half">
                  <label for="{{ formId }}-author" class="no-disp">{{ 'blogs.article.name' | t }}</label>
                  <input type="text" name="comment[author]" id="{{ formId }}-author" placeholder="{{ 'blogs.article.name' | t }}" class="login-input input-full{% if form.errors contains 'author' %} input--error{% endif %}" value="{{ form.author }}"{% if form.errors contains 'author' %} aria-invalid="true" aria-describedby="{{ formId}}-author-error"{% endif %} required>

                  {% if form.errors contains 'author' %}
                  <span id="{{ formId}}-author-error" class="input-error-message">
                    <span class="visually-hidden">{{ 'blogs.article.name' | t }} {{ section.settings.required_error_msg }}</span>
                    {% include 'icon-error' %}
                    <span>Name {{ form.errors.messages['author'] }}.</span>
                  </span>
                  {% endif %}

                </div>

                <div class="col-half">
                  <label for="{{ formId }}-email" class="no-disp">{{ 'blogs.article.email' | t }}</label>
                  <input type="email" name="comment[email]" id="{{ formId }}-email" placeholder="{{ 'blogs.article.email' | t }}"class="login-input input-full{% if form.errors contains 'email' %} input--error{% endif %}" value="{{ form.email }}" autocorrect="off" autocapitalize="off" {% if form.errors contains 'email' %} aria-invalid="true" aria-describedby="{{ formId}}-email-error"{% endif %} required>

                  {% if form.errors contains 'email' %}
                  <span id="{{ formId}}-email-error" class="input-error-message">
                    <span class="visually-hidden">{{ 'blogs.article.email' | t }} {{ section.settings.email_format_error }}</span>
                    {% include 'icon-error' %}
                    <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
                  </span>
                  {% endif %}

                </div>

              </div>

              <div class="comment-message comment-box">
                <label for="{{ formId }}-body" class="no-disp">{{ 'blogs.article.message' | t }}</label>
                <textarea name="comment[body]" id="{{ formId }}-body" rows="4" placeholder="{{ 'blogs.article.comment_form_title' | t }}" class="textarea-input input-full{% if form.errors contains 'body' %} input--error{% endif %}"{% if form.errors contains 'body' %} aria-invalid="true" aria-describedby="{{ formId}}-body-error"{% endif %} required>{{ form.body }}</textarea>

                {% if form.errors contains 'body' %}
                <span id="{{ formId}}-body-error" class="input-error-message">
                  <span class="visually-hidden">{{ 'blogs.article.message' | t }} {{ section.settings.required_error_msg }}</span>
                  {% include 'icon-error' %}
                  <span>Message {{ form.errors.messages['body'] }}.</span>
                </span>
                {% endif %}

              </div>

              {% comment %}
              {% if blog.moderated? %}
              <p class="fine-print">Please note, comments must be approved before they are published</p>
              {% endif %}
              {% endcomment %}

              <button type="submit" class="btn comment-post-btn">{{ 'templates.contact.form.send' | t }}</button>
              {% endform %}
            </div>
          </div>
        </div>
      </div>
    
      {% if number_of_comments > 0 %}
        <div class="comment-box">
          <div class="flex-box comment-box">
            <div class="comment-box">
              {% comment %}<h2 class="comment-heading">Comments on Blog</h2>{% endcomment %}

              {% paginate article.comments by 5 %}

              {% comment %}
              #comments is required, it is used as an anchor link by Shopify.
              {% endcomment %}
              <div id="comments">
                <ul class="comments">
                  {% comment %}
                  If a comment was just submitted with no blank field, show it.
                  {% endcomment %}
                  {% if comment.status == 'pending' %}
                  <li id="{{ comment.id }}" class="comment">
                    {% include 'comment', comment: comment %}
                  </li>
                  {% endif %}

                  {% for comment in article.comments %}
                  <li id="{{ comment.id }}" class="comment">
                    {% include 'comment', comment: comment %}
                  </li>
                  {% endfor %}
                </ul>

                {%- if paginate.pages > 1 -%}
                {% include 'pagination', paginate: paginate %}
                {%- endif -%}

              </div>
              {% endpaginate %}
            </div>
          </div>
        </div>
      {% endif %}
    {% endif %}
  </div>
  <span class="share-box no-t-m">
    <a target="_blank" class="social-icon" aria-label="facebook share icon"  href="http://www.facebook.com/sharer.php?u=https://{{ shop.domain }}{{ article.url }}">{% include "icon-facebook" %}</a>
    <a target="_blank" class="social-icon" aria-label="twitter share icon" href="https://twitter.com/share?url=https://{{ shop.domain }}{{ article.url }}">{% include "icon-twitter" %}</a>
    <a target="_blank" class="social-icon" aria-label="pinterest share icon" href="https://pinterest.com/pin/create/bookmarklet/?url=https://{{ shop.domain }}{{ article.url }}">{% include "icon-pinterest" %}</a>
  </span>
</div>

{% schema %}
  {
    "name": "DC Article Content",
    "settings": [
		{
			"type": "text",
			"id": "back",
			"label": "Back Text",
			"default": "terug naar blog"
		},
		{
			"type": "color",
			"id": "background_color",
			"label": "Background Color"
		},
		{
			"type": "text",
			"id": "tag",
			"label": "Article Tag"
		},
		{
			"type": "text",
			"id": "date",
			"label": "Article Date"
		},
		{
			"type": "text",
			"id": "author",
			"label": "Article Author"
		},
		{
			"type": "html",
			"id": "article_content",
			"label": "Article Content"
		},
		{
			"type": "text",
			"id": "prev_article",
			"label": "Previous article Text",
			"default": "Previous article"
		},
		{
			"type": "text",
			"id": "next_article",
			"label": "Next article Text",
			"default": "Next article"
		},
		{
			"type": "text",
			"id": "required_error_msg",
			"label": "Required Error Message",
			"default": "can't be blank"
		},
		{
			"type": "text",
			"id": "email_format_error",
			"label": "Email Format Error Message",
			"default": "must be formatted as an email"
		},
		{
			"type": "product",
			"id": "article_upsell",
			"label": "Article Upsell Product"
		}
	],
	"presets": [
		{
			"name": "DC Article Content"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
