{{ 'dc-blog-main.css' | asset_url | stylesheet_tag }}

<div class="blog-main">
  <div class="container">
    <div class="blog-filters">
    	{% for block in section.blocks %}
      		{% if block.type == 'filter' %}
      			<div class="blog-filter{% if forloop.first %} selected{% endif %}" data-filter="{{ block.settings.filter }}">{{ block.settings.filter_title }}</div>
      		{% endif %}
      	{% endfor %}
    </div>
    <div class="articles flex-box">
      {% for article in blog.articles %}
      <div class="article all{% for tag in article.tags %} {{ tag }}{% endfor %}">
        <div class="article-image">
        	<img src="{{ article.image.src | image_url: width: 388 }}">
        </div>
        <div class="article-info">
          <div class="article-tag-date">
            <div class="article-tag">{% for tag in article.tags %}{% if forloop.first %}{{ tag }}{% endif %}{% endfor %}</div>
            <div class="article-date">{{ article.created_at | date: "%d %B %Y" }}</div>
          </div>
          <div class="article-title">{{ article.title }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


<script>
  $('.blog-filter').click(function() {
  	$('.blog-filter').removeClass('selected');
    $(this).addClass('selected');
    var filter = $(this).data('filter');
    $('.article').addClass('no-disp');
    $('.'+ filter +).removeClass('no-disp');
  });
</script>

{% schema %}
  {
    "name": "DC Blog Main",
    "settings": [
		
	],
	"blocks": [
		{
			"type": "filter",
			"name": "Filter",
			"settings": [
				{
					"type": "text",
					"id": "filter_title",
					"label": "Filter Title"
				},
				{
					"type": "text",
					"id": "filter",
					"label": "Filter Id"
				}
			]
		}
	],
	"presets": [
		{
			"name": "DC Blog Main"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
