{{ 'dc-cart-drawer.css' | asset_url | stylesheet_tag }}

<script>
  var upsellProducts = [];
  {% assign upsellProd = blank %}
  
  {% for product in section.settings.upsell_collection.products %}
    {% assign found = "no" %}
    {% for item in cart.items %}
      {% if item.product.id == product.id %}
          {% assign found = "yes" %}
      {% endif %}
    {% endfor %}
    {% if found == "no" %}
      {% assign upsell = "no" %}
  	  upsellProducts.push("{{ product.id }}");
	  {% assign upsellProd = product %}
	  {% break %}
    {% endif %}
  {% endfor %}
  
//   console.log(upsellProducts);
</script>

<div class="drawer-cart {% if upsell == "no" %}with-upsell{% endif %}">
  <div class="drawer-cart-header">
    <span class="close-cart">{% include 'icon-close-new' %}</span>
    <h2 class="cart-heading tk-le-monde-livre-classic-byol">{{ section.settings.cart_title }}</h2>
  </div>
  <div id="CartContainer" class="rel">
    {% if cart.item_count == 0 %}
    <div class="drawer-cart-main-sec">
      <div class="cart-body c-empty">
        <div class="cart-empty">{{ section.settings.fill_text }} <a href="/collections/all">{{ section.settings.cart_text }}</a></div>
      </div>
    </div>
    {% else %}
    <div class="drawer-cart-main-sec">
      <div class="free-shipping-wrapper rel">
        <p class="free-shipping-text text-center">
          {{ section.settings.free_shipping_text }}
        </p>
      </div>
      <div class="cart-body">
        {% for item in cart.items %}
        {% assign featured_image = item.variant.image.src | default: item.product.featured_image %}
        <div class="cart-product-wrapper">
          <div class="cart-product-image">
            <a href="{{ item.url }}"><img src="{{ featured_image | product_img_url: '120x' }}" alt="{{ item.product.title }}"></a>
          </div>
          <div class="cart-product-infos justify-between align-end">
            <div class="cart-product-info">
              <div class="product-name">{{ item.product.title | strip_html | truncatewords: 3 }}</div>
              <div class="product-color">{{ item.product.metafields.my_fields.extra_info }} - inhoud: {{ item.variant.title }}</div>
              
              <div class="cart-product-qty-wrapper">
                <div class="cart-product-qty" data-quantity="{{item.quantity}}">
                  <div class="qty-manipulation-symbol minus-symbol cart-minus" data-variant="{{ item.variant.id }}" data-value="{{item.quantity}}">{% render "icon-minus" %}</div>
                  <div class="cart-qty" value="{{item.quantity}}">{{item.quantity}}</div>
                  <div class="qty-manipulation-symbol plus-symbol cart-plus" data-variant="{{ item.variant.id }}" data-value="{{item.quantity}}">{% render "icon-plus" %}</div>
                </div>
                <div class="delete-cart-product" data-variant="{{ item.variant.id }}">
                  <div class="delete-text">{{ section.settings.delete_text }}</div>
                </div>
              </div>
            </div>
            <div class="cart-product-price-wrapper">
              <div class="product-price">
                {% if item.variant.compare_at_price %}<span class="product-discount-price">{{ item.variant.compare_at_price | money }}</span>{% endif %}
                <span class="product-selling-price">{{ item.final_price | money }}</span>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="drawer-cart-footer">
      {% if upsell == "no" %}
      <div class="drawer-cart-upsell">
        <div class="upsell-product-wrap {{ upsellProd.id }}">
          <div class="upsell-product-image">
            <img src="{{ upsellProd.featured_image | product_img_url: '100x' }}" alt="{{ upsellProd.title }}">
          </div>
          <div class="upsell-product-infos rel">
            <div class="upsell-product-title-price">
              <div class="product-name">{{ upsellProd.title }}</div>
              <div class="product-price upsell-price"><span class="product-compare-price upsell-compare-price">{{ upsellProd.compare_at_price | money_without_trailing_zeros }}</span><span class="product-selling-price">{{ upsellProd.price | money_without_trailing_zeros }}</span></div>
            </div>
            <div class="upsell-product-desc">{{ upsellProd.metafields.my_fields.default_variant_info }}</div>
            <div class="shop-btn addUpsell" data-variant="{{ upsellProd.selected_or_first_available_variant.id }}">{{ section.settings.upsell_addtoCart }}</div>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="drawer-cart-checkout">
        <div class="checkout-subtotal justify-between">
          <div class="subtotal-title">{{ section.settings.subtotal_text }}</div>
          <div class="subtotal">{{ cart.total_price | money_without_trailing_zeros }}</div>
        </div>
        <div class="checkout-shipping justify-between">
          <div class="shipping-title">{{ section.settings.shipping_text }}</div>
          <div class="shipping-price">{% if cart.total_price < 5000 %}{{ section.settings.calc_text }}{% else %}{{ section.settings.free_shipping }}{% endif %}</div>
        </div>
        <a href="/checkout" class="checkout-btn">{{ section.settings.checkout_text }}</a>
      </div>
    </div>
    {% endif %}
  </div>
</div>
<div class="background-drawer-cart"></div>

<script>
  
  {% if cart.item_count == 0 %}
  $('.cart-toggler').addClass('cart--empty');
  {% else %}
  $('.cart-toggler').removeClass('cart--empty');
  {% endif %}
  
  $('.cart-toggler').click(function() {
    $('.drawer-cart').addClass('drawn');
    $('.background-drawer-cart').addClass('drawn');
    $('body').addClass('no-scroll');
  });

  $('.close-cart, .background-drawer-cart').click(function() {
    $('.drawer-cart').removeClass('drawn');
    $('.background-drawer-cart').removeClass('drawn');
    $('body').removeClass('no-scroll');
  });
  
  $('.drawer-cart').on("click", ".delete-cart-product", function() {
    let renderedHtml;
    $('.drawer-cart').addClass('drawn');
    $('.background-drawer-cart').addClass('drawn');
    $('body').addClass('no-scroll');
    $('.cart-body').append(`<div class="load-container"><div class="load"></div></div>`);
    
    var formData = {
      'id': parseInt($(this).data('variant')),
      'quantity': 0,
      'sections': "dc-cart-drawer"
    };
    $.ajax({
      url: "/cart/change.js",
      method: "POST",
      dataType: "json",
      data: formData,
    })
    .done(function( data ) {
      renderedHtml = getSectionInnerHTML(
        data.sections["dc-cart-drawer"],
        "#CartContainer"
      );
      $("#CartContainer").html(renderedHtml);
      if($('.drawer-cart-upsell').length > 0 && $('.upsell-product-wrap').length > 0) {
      	$('.drawer-cart').addClass("with-upsell");
      }
      else {
      	$('.drawer-cart').removeClass("with-upsell");
      }
      if(data.item_count < 1) {
        $(".cart-toggler").addClass('cart--empty');
      }
      else {
        $(".cart-toggler").removeClass('cart--empty');
      }
      $('.load-container').remove();
    })
    .fail(function(error) {
      console.log( error );
      $('.load-container').remove();
    });
  });
  
  $('.drawer-cart').on("click", ".cart-minus", function() {
    let renderedHtml;
    $('.drawer-cart').addClass('drawn');
    $('.background-drawer-cart').addClass('drawn');
    $('body').addClass('no-scroll');
    $('.cart-body').append(`<div class="load-container"><div class="load"></div></div>`);
    
    var formData = {
      'id': parseInt($(this).data('variant')),
      'quantity': $(this).data('value')-1,
      'sections': "dc-cart-drawer"
    };
    $.ajax({
      url: "/cart/change.js",
      method: "POST",
      dataType: "json",
      data: formData,
    })
    .done(function( data ) {
      renderedHtml = getSectionInnerHTML(
        data.sections["dc-cart-drawer"],
        "#CartContainer"
      );
      $("#CartContainer").html(renderedHtml);
      if($('.drawer-cart-upsell').length > 0 && $('.upsell-product-wrap').length > 0) {
      	$('.drawer-cart').addClass("with-upsell");
      }
      else {
      	$('.drawer-cart').removeClass("with-upsell");
      }
      if(data.item_count < 1) {
        $(".cart-toggler").addClass('cart--empty');
      }
      else {
        $(".cart-toggler").removeClass('cart--empty');
      }
      $('.load-container').remove();
    })
    .fail(function(error) {
      console.log( error );
      $('.load-container').remove();
    });
  });
  
  $('.drawer-cart').on("click", ".cart-plus", function() {
    let renderedHtml;
    $('.drawer-cart').addClass('drawn');
    $('.background-drawer-cart').addClass('drawn');
    $('body').addClass('no-scroll');
    $('.cart-body').append(`<div class="load-container"><div class="load"></div></div>`);
    
    var formData = {
      'id': parseInt($(this).data('variant')),
      'quantity': $(this).data('value')+1,
      'sections': "dc-cart-drawer"
    };
    $.ajax({
      url: "/cart/change.js",
      method: "POST",
      dataType: "json",
      data: formData,
    })
    .done(function( data ) {
      renderedHtml = getSectionInnerHTML(
        data.sections["dc-cart-drawer"],
        "#CartContainer"
      );
      $("#CartContainer").html(renderedHtml);
      if($('.drawer-cart-upsell').length > 0 && $('.upsell-product-wrap').length > 0) {
      	$('.drawer-cart').addClass("with-upsell");
      }
      else {
      	$('.drawer-cart').removeClass("with-upsell");
      }
      if(data.item_count < 1) {
        $(".cart-toggler").addClass('cart--empty');
      }
      else {
        $(".cart-toggler").removeClass('cart--empty');
      }
      $('.load-container').remove();
    })
    .fail(function(error) {
      console.log( error );
      $('.load-container').remove();
    });
  });
  
  $('.drawer-cart').on("click", ".addUpsell", function() {
    let renderedHtml;
    $('.drawer-cart').addClass('drawn');
    $('.background-drawer-cart').addClass('drawn');
    $('body').addClass('no-scroll');
    $('.cart-body').append(`<div class="load-container"><div class="load"></div></div>`);
    
    var formData = {
      'items': [{
        'id': parseInt($(this).data("variant")),
        'quantity': 1
      }],
      'sections': "dc-cart-drawer"
    };
    $.ajax({
      url: "/cart/add.js",
      method: "POST",
      dataType: "json",
      data: formData,
    })
    .done(function( data ) {
      console.log(data);
      renderedHtml = getSectionInnerHTML(
        data.sections["dc-cart-drawer"],
        "#CartContainer"
      );
      $("#CartContainer").html(renderedHtml);
      if($('.drawer-cart-upsell').length > 0 && $('.upsell-product-wrap').length > 0) {
      	$('.drawer-cart').addClass("with-upsell");
      }
      else {
      	$('.drawer-cart').removeClass("with-upsell");
      }
//       $('.upsell-product-wrap, .drawer-cart-upsell').remove();
//       $('.drawer-cart').removeClass("with-upsell");
      if(data.item_count < 1) {
        $(".cart-toggler").addClass('cart--empty');
      }
      else {
        $(".cart-toggler").removeClass('cart--empty');
      }
      $('.load-container').remove();
    })
    .fail(function(error) {
      console.log( error );
      $('.load-container').remove();
    });
  });
  
  $(document).ready(function() {

    var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = window.location.search.substring(1),
          sURLVariables = sPageURL.split('&'),
          sParameterName,
          i;

      for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
          return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
        }
      }
    };

    var opencart = getUrlParameter('cartopen');

    if(opencart == 'true') {        
      $(".drawer-cart").addClass("drawn");
      $(".background-drawer-cart").addClass("drawn");
    }

  });
</script>
  
{% schema %}
  {
    "name": "Delcon Ajax Cart",
	"class": "cart-remover",
    "settings": [
		{
          "type": "text",
          "id": "cart_title",
          "label": "Cart Title",
          "default": "Winkelmandje"
        },
		{
          "type": "text",
          "id": "free_shipping_text",
          "label": "Free Shipping Text",
          "default": "Gratis verzending vanaf €60"
        },
		{
			"id": "upsell_collection",
			"type": "collection",
			"label": "Upsell Collection"
		},
		{
          "type": "text",
          "id": "fill_text",
          "label": "Fill text",
          "default": "Vul je"
        },
		{
          "type": "text",
          "id": "cart_text",
          "label": "Cart text",
          "default": "winkelwagen"
        },
		{
          "type": "text",
          "id": "delete_text",
          "label": "Delete text",
          "default": "Verwijder"
        },
		{
          "label": "Upsell Add to Cart Text",
          "id": "upsell_addtoCart",
          "type": "text",
		  "default": "toevoegen"
        },
		{
          "type": "text",
          "id": "subtotal_text",
          "label": "Subtotal text",
          "default": "Subtotal"
        },
		{
          "type": "text",
          "id": "shipping_text",
          "label": "Shipping text",
          "default": "Shipping"
        },
		{
          "type": "text",
          "id": "calc_text",
          "label": "Calc text",
          "default": "Berekend tijdens checkout"
        },
		{
          "type": "text",
          "id": "free_shipping",
          "label": "Free Shipping",
          "default": "Gratis"
        },
		{
          "type": "text",
          "id": "checkout_text",
          "label": "Checkout text",
          "default": "VERDER NAAR CHECKOUT"
        }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
