{{ "dc-footer.css" | asset_url | stylesheet_tag }}

<footer class="dc-footer">
  <div class="container">
    <div class="footer-upper">
      <div class="footer-logo no-t-m">
        {% if section.settings.footer_logo_img != blank %}
          <a href="/" class="footer-logo-img" aria-label="4gold"><img src="{{ section.settings.footer_logo_img | img_url: '200x' }}" alt="{{ section.settings.footer_logo_img.alt }}"></a>
        {% else %}
          <a href="/" class="footer-logo" aria-label="4gold">{{ section.settings.footer_logo }}</a>
        {% endif %}
      </div>
      <div class="footer-upper-part no-d">
        {% if section.settings.footer_logo_img != blank %}
        <a href="/" class="footer-logo-img" aria-label="4gold"><img src="{{ section.settings.footer_logo_img | img_url: '200x' }}" alt="{{ section.settings.footer_logo_img.alt }}"></a>
        {% else %}
        <a href="/" class="footer-logo" aria-label="4gold">{{ section.settings.footer_logo }}</a>
        {% endif %}
      </div>
      <div class="footer-upper-inner flex-box justify-between">
        <div class="footer-upper-part">
          <div class="footer-store-address">{{ section.settings.footer_address }}</div>
          
          <div class="footer-social-wrap">
            {% for block in section.blocks %}
              {% if block.type == 'social-media' %}
            	<a href="{{ block.settings.social_media_link }}" class="social-icon" target="_blank" aria-label="{{ section.settings.social_media_title }}">{{ block.settings.social_media_icon }}</a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      	{% for block in section.blocks %}
          {% if block.type == 'menu' %}
            <div class="footer-upper-part">
              {% for link in linklists[block.settings.menu].links %}
              	<a href="{{ link.url }}" class="footer-link light">{{ link.title }}</a>
              {% endfor %}
            </div>
          {% endif %}
      	{% endfor %}
      <div class="footer-upper-part">
        
      </div>
      </div>
    </div>
    <div class="footer-lower flex-box justify-between">
      <div class="footer-lower-text light">{{ section.settings.footer_copyright_text }}</div>
      <div class="footer-lower-text light">{{ section.settings.privacy_link }}</div>
      <div class="footer-lower-text light">{{ section.settings.footer_made_by_text }}</div>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Delcon Footer",
    "settings": [
		{
			"type": "image_picker",
			"id": "footer_logo_img",
			"label": "Footer Logo Image"
		},
		{
			"type": "text",
			"id": "footer_logo",
			"label": "Footer Logo SVG"
		},
		{
			"type": "html",
			"id": "footer_address",
			"label": "Store Address"
		},
		{
			"type": "text",
			"id": "footer_copyright_text",
			"label": "Footer Copyright Text",
			"default": "© Copyright 2020. All Rights Reserved."
		},
		{
			"type": "html",
			"id": "footer_made_by_text",
			"label": "Footer Made By Text"
		},
		{
			"type": "html",
			"id": "privacy_link",
			"label": "Privacy and Cookies link"
		}
	],
	"blocks": [
		{
			"type": "menu",
			"name": "Footer Menu",
			"settings": [
				{
					"type": "text",
					"id": "menu_title",
					"label": "Menu Title"
				},
				{
                  "type": "link_list",
                  "id": "menu",
                  "label": "Menu"
                }
			]
		},
		{
			"type": "social-media",
			"name": "Social Media",
			"settings": [
				{
					"type": "text",
					"id": "social_media_title",
					"label": "Social Media Title"
				},
				{
					"type": "text",
					"id": "social_media_icon",
					"label": "Social Media Svg Icon"
				},
				{
                  "type": "url",
                  "id": "social_media_link",
                  "label": "Social Media Link"
                }
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
