{{ 'dc-faq-section.css' | asset_url | stylesheet_tag }}

<div class="faq-sec marg-top-xl marg-bottom-xl" id="faq-section">
  <div class="container">
    <div class="faq-sec-inner">
      <div class="faq-content faqs">
        <div class="faq-heading tk-le-monde-livre-classic-byol text-center">{{ section.settings.title }}</div>
        <div class="faq-types">
        	{% for block in section.blocks %}
          		{% if block.type == 'faqs' %}
          			<a class="faq-type-btn" href="#{{ block.settings.faq_id }}">{{ block.settings.faq_title }}</a>
          		{% endif %}
          	{% endfor %}
        </div>
        <div class="faqs">
        	{% for block in section.blocks %}
          		{% if block.type == 'faqs' %}
          			<div id="{{ block.settings.faq_id }}" class="faq-type">
                      <div class="faq-type-title tk-le-monde-livre-classic-byol text-center">{{ block.settings.faq_title }}</div>
                      <div class="faq-wrap">
                        {% if block.settings.question1 != blank %}
                        <div class="faq-wrapper">
                          <div class="accordion" role="button">
                            <div class="faq-question bold">{{ block.settings.question1 }}</div>
                            <span class="symbol">{% render "accordion-plus" %}</span>
                          </div>
                          <div class="faq-answer panel light">
                            {{ block.settings.answer1 }}
                          </div>
                        </div>
                        {% endif %}
                        
                        {% if block.settings.question2 != blank %}
                        <div class="faq-wrapper">
                          <div class="accordion" role="button">
                            <div class="faq-question bold">{{ block.settings.question2 }}</div>
                            <span class="symbol">{% render "accordion-plus" %}</span>
                          </div>
                          <div class="faq-answer panel light">
                            {{ block.settings.answer2 }}
                          </div>
                        </div>
                        {% endif %}
                        
                        {% if block.settings.question3 != blank %}
                        <div class="faq-wrapper">
                          <div class="accordion" role="button">
                            <div class="faq-question bold">{{ block.settings.question3 }}</div>
                            <span class="symbol">{% render "accordion-plus" %}</span>
                          </div>
                          <div class="faq-answer panel light">
                            {{ block.settings.answer3 }}
                          </div>
                        </div>
                        {% endif %}
                        
                        {% if block.settings.question4 != blank %}
                        <div class="faq-wrapper">
                          <div class="accordion" role="button">
                            <div class="faq-question bold">{{ block.settings.question4 }}</div>
                            <span class="symbol">{% render "accordion-plus" %}</span>
                          </div>
                          <div class="faq-answer panel light">
                            {{ block.settings.answer4 }}
                          </div>
                        </div>
                        {% endif %}
                        
                        {% if block.settings.question5 != blank %}
                        <div class="faq-wrapper">
                          <div class="accordion" role="button">
                            <div class="faq-question bold">{{ block.settings.question5 }}</div>
                            <span class="symbol">{% render "accordion-plus" %}</span>
                          </div>
                          <div class="faq-answer panel light">
                            {{ block.settings.answer5 }}
                          </div>
                        </div>
                        {% endif %}
                        
                        {% if block.settings.question6 != blank %}
                        <div class="faq-wrapper">
                          <div class="accordion" role="button">
                            <div class="faq-question bold">{{ block.settings.question6 }}</div>
                            <span class="symbol">{% render "accordion-plus" %}</span>
                          </div>
                          <div class="faq-answer panel light">
                            {{ block.settings.answer6 }}
                          </div>
                        </div>
                        {% endif %}
                        
                        {% if block.settings.question7 != blank %}
                        <div class="faq-wrapper">
                          <div class="accordion" role="button">
                            <div class="faq-question bold">{{ block.settings.question7 }}</div>
                            <span class="symbol">{% render "accordion-plus" %}</span>
                          </div>
                          <div class="faq-answer panel light">
                            {{ block.settings.answer7 }}
                          </div>
                        </div>
                        {% endif %}
                        
                        {% if block.settings.question8 != blank %}
                        <div class="faq-wrapper">
                          <div class="accordion" role="button">
                            <div class="faq-question bold">{{ block.settings.question8 }}</div>
                            <span class="symbol">{% render "accordion-plus" %}</span>
                          </div>
                          <div class="faq-answer panel light">
                            {{ block.settings.answer8 }}
                          </div>
                        </div>
                        {% endif %}
                        
                        {% if block.settings.question9 != blank %}
                        <div class="faq-wrapper">
                          <div class="accordion" role="button">
                            <div class="faq-question bold">{{ block.settings.question9 }}</div>
                            <span class="symbol">{% render "accordion-plus" %}</span>
                          </div>
                          <div class="faq-answer panel light">
                            {{ block.settings.answer9 }}
                          </div>
                        </div>
                        {% endif %}
                        
                        {% if block.settings.question10 != blank %}
                        <div class="faq-wrapper">
                          <div class="accordion" role="button">
                            <div class="faq-question bold">{{ block.settings.question10 }}</div>
                            <span class="symbol">{% render "accordion-plus" %}</span>
                          </div>
                          <div class="faq-answer panel light">
                            {{ block.settings.answer10 }}
                          </div>
                        </div>
                        {% endif %}
                        
                      </div>
          			</div>
          		{% endif %}
          	{% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<script>

  $(document).ready(function() {
    $(".accordion").click(function() {
      var acc = $(this).hasClass('faq-active')
      $(".accordion").each(function() {
        $(this).removeClass("faq-active");
        var panel = $(this).next()[0];
        panel.style.maxHeight = null;
      });
      if(acc) {
        $(this).removeClass("faq-active")
        var panel = $(this).next()[0];
        panel.style.maxHeight = null;
      }
      else {
        $(this).addClass("faq-active")
        var panel = $(this).next()[0];
        panel.style.maxHeight = panel.scrollHeight + "px";
      } 
    });
  });
  
</script>

{% schema %}
  {
    "name": "DC FAQ",
    "settings": [
		{
			"type": "text",
			"id": "title",
			"label": "Title"
		}
	],
	"blocks": [
		{
			"type": "faqs",
			"name": "FAQs",
			"settings": [
				{
					"type": "text",
					"id": "faq_title",
					"label": "FAQ Title"
				},
				{
					"type": "text",
					"id": "faq_id",
					"label": "FAQ ID"
				},
				{
					"type": "text",
					"id": "question1",
					"label": "Question 1"
				},
				{
					"type": "richtext",
					"id": "answer1",
					"label": "Answer 1"
				},
				{
					"type": "text",
					"id": "question2",
					"label": "Question 2"
				},
				{
					"type": "richtext",
					"id": "answer2",
					"label": "Answer 2"
				},
				{
					"type": "text",
					"id": "question3",
					"label": "Question 3"
				},
				{
					"type": "richtext",
					"id": "answer3",
					"label": "Answer 3"
				},
				{
					"type": "text",
					"id": "question4",
					"label": "Question 4"
				},
				{
					"type": "richtext",
					"id": "answer4",
					"label": "Answer 4"
				},
				{
					"type": "text",
					"id": "question5",
					"label": "Question 5"
				},
				{
					"type": "richtext",
					"id": "answer5",
					"label": "Answer 5"
				},
				{
					"type": "text",
					"id": "question6",
					"label": "Question 6"
				},
				{
					"type": "richtext",
					"id": "answer6",
					"label": "Answer 6"
				},
				{
					"type": "text",
					"id": "question7",
					"label": "Question 7"
				},
				{
					"type": "richtext",
					"id": "answer7",
					"label": "Answer 7"
				},
				{
					"type": "text",
					"id": "question8",
					"label": "Question 8"
				},
				{
					"type": "richtext",
					"id": "answer8",
					"label": "Answer 8"
				},
				{
					"type": "text",
					"id": "question9",
					"label": "Question 9"
				},
				{
					"type": "richtext",
					"id": "answer9",
					"label": "Answer 9"
				},
				{
					"type": "text",
					"id": "question10",
					"label": "Question 10"
				},
				{
					"type": "richtext",
					"id": "answer10",
					"label": "Answer 10"
				}
			]
		}
	],
	"presets":[
      {
         "name":"DC FAQ"
      }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
