{{ 'dc-featured-products.css' | asset_url | stylesheet_tag }}

<div class="marg-top marg-bottom" id="featured-collection">
  <div class="container">
    <h2 class="featured-title tk-le-monde-livre-classic-byol text-center">{{ section.settings.featured_title }}</h2>
    <p class="featured-sub-title text-center">{{ section.settings.featured_subtitle }}</p>
    <div class="featured-carousel rel">
      {% for product in section.settings.featured_collection.products %}
      	<div class="product-card rel">
          <a href="{{ product.url }}"  title="{{ product.title | escape  }}" class="product-card-hover no-t-m">
            <button class="btn product-btn">{{ section.settings.meerInfo }}</button>
          </a>
          <div class="product-card-image rel">
            <img class="default-img" src="{{ product.images[0] | default: product.featured_image | img_url: '392x' }}" alt="{{ product.title | escape }}" loading="lazy" />
            <img class="hovered-img no-t-m" src="{{ product.images[1] | default: product.featured_image | img_url: '392x' }}" alt="{{ product.title | escape }}" loading="lazy" />
          </div>
          <div class="product-card-details">
            <div class="prooduct-title-desc">
              <p class="product-card-title">{{ product.title | strip_html | escape }}</p>
              <p class="product-card-desc">{{ product.metafields.my_fields.extra_info | escape  }}</p>
            </div>
            <div class="product-card-price">
              <p class="product-price">{{ section.settings.vanaf_text }} {{ product.selected_or_first_available_variant.price | money }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% if section.settings.featured_btn_text != blank %}
    <a class="btn featured-btn grey-btn" href="{{ section.settings.featured_btn_url }}">{{ section.settings.featured_btn_text }}</a>
  	{% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Delcon Featured Products",
    "settings": [
		{
          "type": "text",
          "id": "featured_title",
          "label": "Featured Collection Heading",
		  "default": "Van puppy tot senior"
        },
		{
          "type": "text",
          "id": "featured_subtitle",
          "label": "Featured Collection SubTitle",
		  "default": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."
        },
		{
          "type": "collection",
          "id": "featured_collection",
          "label": "Featured Collection"
        },
		{
          "type": "text",
          "id": "vanaf_text",
          "label": "Vanaf text",
		  "default": "vanaf"
        },
		{
          "type": "text",
          "id": "meerInfo",
          "label": "Quick View button text",
		  "default": "QUICK VIEW"
        },
        {
          "type": "text",
          "id": "featured_btn_text",
          "label": "Section Button Text",
		  "default": "ALLE PRODUCTEN"
        },
        {
          "type": "url",
          "id": "featured_btn_url",
          "label": "Section Button Link"
        }
	],
	"presets":[
      {
         "name":"Delcon Featured Products"
      }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
