{{ 'dc-hero.css' | asset_url | stylesheet_tag }}

<div class="hero-sec no-t-m" style="background-image: linear-gradient(#00000021, #00000021),url({{ section.settings.hero_img | img_url: '2000x' }})">
  <div class="container flex-box">
      <h1 class="title bold hero-title">{{ section.settings.title }}</h1>
      <a href="{{ section.settings.button_url }}" class="hero-btn btn">{{ section.settings.button_txt }}</a>
  </div>
</div>

<div class="hero-sec no-d" style="background-image: url({{ section.settings.hero_mobile_img | img_url: '2000x' }})">
  <div class="container flex-box">
      <h1 class="title bold hero-title">{{ section.settings.title }}</h1>
      <a href="{{ section.settings.button_url }}" class="hero-btn btn">{{ section.settings.button_txt }}</a>
  </div>
</div>

{% schema %}
  {
    "name": "Delcon Hero",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
