{{ 'dc-hero.css' | asset_url | stylesheet_tag }}

<div class="hero-sec marg-bottom no-t-m" style="background-image: linear-gradient( rgb(24 23 22 / 25%), rgb(24 23 22 / 25%) ),,url({{ section.settings.hero_img | img_url: '2000x' }})">
  <div class="container flex-box">
      <h1 class="title bold hero-title">{{ section.settings.title }}</h1>
      <a href="{{ section.settings.button_url }}" class="hero-btn btn">{{ section.settings.button_txt }}</a>
  </div>
</div>

<div class="hero-sec no-d" style="background-image: url({{ section.settings.hero_mobile_img | img_url: '2000x' }})">
  <div class="container flex-box">
      <h1 class="title bold hero-title">{{ section.settings.title }}</h1>
      <a href="{{ section.settings.button_url }}" class="hero-btn btn">{{ section.settings.button_txt }}</a>
  </div>
</div>

{% schema %}
  {
    "name": "Delcon Hero",
    "settings": [
		{
			"type": "image_picker",
			"id": "hero_img",
			"label": "Hero Image"
		},
		{
			"type": "image_picker",
			"id": "hero_mobile_img",
			"label": "Hero Mobile Image"
		},
		{
			"type": "text",
			"id": "title",
			"label": "Title"
		},
		{
			"type": "text",
			"id": "button_txt",
			"label": "Button Text"
		},
		{
			"type": "url",
			"id": "button_url",
			"label": "Button URL"
		}
	],
	"presets":[
      {
         "name":"Delcon Hero"
      }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
