{{ 'dc-hero-small.css' | asset_url | stylesheet_tag }}

<div class="hero-small no-t-m rel" style="background-color: {{ section.settings.background_color }}">
  <div class="hero-small-content container flex-box justify-between align-center{% if section.settings.media_alignment == 'left' %} rev-cols{% endif %}">
    <div class="hero-small-text">
      <h1 class="coll-title tk-le-monde-livre-classic-byol">{{ section.settings.title }}</h1>
      <div class="coll-desc">{{ section.settings.desc }}</div>
    </div>
    <div class="hero-small-img"><img src="{{ section.settings.image | img_url: 'x720' }}"></div>
  </div>
</div>

<div class="hero-small no-d rel">
  <div class="hero-small-content container flex-box justify-between align-center{% if section.settings.media_alignment == 'left' %} rev-cols{% endif %}">
    <div class="hero-small-text" style="background-color: {{ section.settings.background_color }}">
      <h1 class="coll-title tk-le-monde-livre-classic-byol">{{ section.settings.title }}</h1>
      <div class="coll-desc">{{ section.settings.desc }}</div>
    </div>
    <div class="hero-small-img" style="background-color: {{ section.settings.background_color }}"><img src="{{ section.settings.image | img_url: 'x720' }}"></div>
  </div>
</div>

{% schema %}
  {
    "name": "DC Hero Small",
    "settings": [
		{
			"type": "color",
			"id": "background_color",
			"label": "Background Color"
		},
	  {
        "type": "radio",
        "id": "media_alignment",
        "label": "Media alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "right"
      },
		{
			"type": "text",
			"id": "title",
			"label": "Title"
		},
		{
			"type": "text",
			"id": "desc",
			"label": "Description"
		},
		{
			"type": "image_picker",
			"id": "image",
			"label": "Image"
		}
	],
	"presets": [
		{
			"name": "DC Hero Small"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
