{{ "dc-header.css" | asset_url | stylesheet_tag }}

<header class="header">
  <div class="dc-header container">
    <nav class="left-nav no-t-m">
      <ul class="header-nav-list header-nav-list-small">
        {% for link in section.settings.header_left_menu.links %}
          <li class="no-t-m"><a href="{{ link.url }}">{{ link.title | escape }}</a></li>
        {% endfor %}
      </ul>
      
      <div class="header-hamburger-menu no-d">
        <button type="button" class="navbar-toggler">
          <span class="icon-bar bar1"></span>
          <span class="icon-bar bar2"></span>
          <span class="icon-bar bar3"></span>
        </button>
      </div>
    </nav>
    
    <nav class="middle-nav">
      <a href="/" aria-label="header-logo">{{ section.settings.header_logo }}</a>
    </nav>
    
    <nav class="right-nav">
      <ul class="header-nav-list header-nav-list-small">
        {% for link in section.settings.header_right_menu.links %}
          <li class="no-t-m"><a href="{{ link.url }}">{{ link.title | escape }}</a></li>
        {% endfor %}
        <li class="no-t-m"><a href="{{ section.settings.header_btn_url }}" class="btn header-btn">{{ section.settings.header_btn_text }}</a></li>
      </ul>
    </nav>
  </div>
</header>

{% schema %}
  {
    "name": "Delcon Header",
    "settings": [
		{
		  "type": "html",
          "id": "header_logo",
          "label": "Logo Svg"
		},
		{
          "type": "link_list",
          "id": "header_left_menu",
          "default": "main-menu",
          "label": "Select left menu for header"
        },
		{
          "type": "link_list",
          "id": "header_right_menu",
          "default": "main-menu",
          "label": "Select right menu for header"
        },
		{
          "type": "text",
          "id": "header_btn_text",
          "default": "PROEFPAKKET",
          "label": "Header Button Text"
        },
		{
          "type": "url",
          "id": "header_btn_url",
          "label": "Header Button Link"
        }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
