{{ 'dc-hero.css' | asset_url | stylesheet_tag }}

<div class="hero-sec marg-bottom no-t-m" style="background-image: linear-gradient(rgba(24, 23, 22, .25), rgba(24, 23, 22, .25)),url({{ section.settings.hero_img | img_url: '2000x' }})">
  <div class="hero-wrapper container flex-box">
    <p class="sub-title light hero-reviews"></p>
    <h1 class="title bold hero-title">{{ section.settings.title }}</h1>
    <div class="flex-box hero-ctas">
      {% for block in section.blocks %}
      	{% if block.settings.hero_cta_text != blank %}
      	  <a href="{{ block.settings.hero_cta_link }}" class="hero-btn btn">{{ block.settings.hero_cta_text }}</a>
      	{% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% comment %}
<div class="hero-sec no-d" style="background-image: url({{ section.settings.hero_mobile_img | img_url: '2000x' }})">
  <div class="container flex-box">
      <h1 class="title bold hero-title">{{ section.settings.title }}</h1>
      <a href="{{ section.settings.button_url }}" class="hero-btn btn">{{ section.settings.button_txt }}</a>
  </div>
</div>
{% endcomment %}

{% schema %}
  {
    "name": "Delcon Hero",
    "settings": [
		{
			"type": "image_picker",
			"id": "hero_img",
			"label": "Hero Image"
		},
		{
			"type": "text",
			"id": "title",
			"label": "Hero Title",
			"default": "Met zorg geformuleerde dierenvoeding"
		}
	],
	"blocks": [ 
		{
			"type": "hero-cta",
			"name": "Hero CTA",
			"settings": [
				{
					"type": "text",
					"id": "hero_cta_text",
					"label": "Hero CTA Text"
				},
				{
                  "type": "url",
                  "id": "hero_cta_link",
                  "label": "Hero CTA Link"
                }
			]
		}
	],
	"presets":[
      {
         "name":"Delcon Hero"
      }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
