{{ "dc-header.css" | asset_url | stylesheet_tag }}

<header class="header">
  <div class="dc-header container">
    <nav class="left-nav">
      <ul class="header-nav-list header-nav-list-small no-t-m">
        {% for link in section.settings.header_left_menu.links %}
          <li class="no-t-m"><a href="{{ link.url }}">{{ link.title | escape }}</a></li>
        {% endfor %}
      </ul>
      
      <div class="header-hamburger-menu no-d">
        <button type="button" class="navbar-toggler" aria-label="navbar-toggler">
          <span class="icon-bar bar1"></span>
          <span class="icon-bar bar2"></span>
          <span class="icon-bar bar3"></span>
        </button>
      </div>
    </nav>
    
    <nav class="middle-nav">
      <a href="{% unless routes.root_url == "/" %}{{ routes.root_url }}{% endunless %}" aria-label="header-logo">{{ section.settings.header_logo }}</a>
    </nav>
    
    <nav class="right-nav">
      <ul class="header-nav-list header-nav-list-small no-t-m">
        {% for link in section.settings.header_right_menu.links %}
          <li class="no-t-m"><a href="{{ link.url }}">{{ link.title | escape }}</a></li>
        {% endfor %}
        <li class="no-t-m"><span class="btn header-btn {% if section.settings.isProefpakketten == true %}btn-proefpakketten{% endif %}">{{ section.settings.header_btn_text }}</span></li>
      </ul>
      <ul class="announcement-bar-list no-d">
        <li class="round no-d"><a href="#" aria-label="cart-link" class="icon-item cart-toggler cart-items-total rel" onClick="return false;" aria-label="cart icon">{{ cart.item_count }}</a></li>
      </ul>
    </nav>
  </div>
</header>

{% render "dc-mobile-menu" %}
<script>
  $(document).ready(function(){
    $('.navbar-toggler').click(function () {
      if($(".mobile_menu-wrapper").hasClass("show")){
        $('.navbar-toggler').removeClass('open');
        $(".mobile_menu-wrapper").removeClass("show");
        $("body").removeClass("no-scroll");
      }else{
        $('.navbar-toggler').addClass('open');
        $(".mobile_menu-wrapper").addClass("show");
        $("body").addClass("no-scroll");
      }
    });
  });
</script>

{% schema %}
  {
    "name": "Delcon Header",
    "settings": [
		{
		  "type": "html",
          "id": "header_logo",
          "label": "Logo Svg"
		},
		{
          "type": "link_list",
          "id": "header_left_menu",
          "default": "main-menu",
          "label": "Select left menu for header"
        },
		{
          "type": "link_list",
          "id": "header_right_menu",
          "default": "main-menu",
          "label": "Select right menu for header"
        },
		{
          "label": "Is Button Proefpakketten",
          "id": "isProefpakketten",
          "type": "checkbox",
	      "info": "Tick this field only on Proefpakketten related button"
        },
		{
          "type": "text",
          "id": "header_btn_text",
          "default": "PROEFPAKKET",
          "label": "Header Button Text"
        },
		{
          "type": "link_list",
          "id": "mobile_top_menu",
          "label": "Select top menu for mobile"
        },
		{
          "type": "link_list",
          "id": "mobile_middle_menu",
          "label": "Select middle menu for mobile"
        },
		{
          "type": "link_list",
          "id": "mobile_bottom_menu",
          "label": "Select bottom menu for mobile"
        }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
