{{ 'dc-hero.css' | asset_url | stylesheet_tag }}

<div class="hero-sec" style="background-image: linear-gradient(rgba(24, 23, 22, .25), rgba(24, 23, 22, .25)),url({{ section.settings.hero_img | img_url: 'master' }})">
  <div class="hero-wrapper container flex-box">
    <div class="sub-title light hero-reviews">
      <!-- TrustBox widget - Micro TrustScore -->
      <div class="trustpilot-widget" data-locale="en-GB" data-template-id="5419b637fa0340045cd0c936" data-businessunit-id="5fd22a12a2221c00018b1ae2" data-style-height="20px" data-style-width="100%" data-theme="light">
        <a href="https://uk.trustpilot.com/review/delcon.be" target="_blank" rel="noopener">Trustpilot</a>
      </div>
      <!-- End TrustBox widget -->
    </div>
    <h1 class="hero-title tk-le-monde-livre-classic-byol">{{ section.settings.hero_title }}</h1>
    <p class="hero-subtitle">{{ section.settings.hero_subtitle }}</p>
    <div class="hero-cta-wrapper">
      {% for block in section.blocks %}
      	{% if block.settings.hero_cta_text != blank %}
      	  <a href="{{ block.settings.hero_cta_link }}" class="hero-btn btn {% if block.settings.isProefpakketten == true %}btn-proefpakketten grey-btn{% endif %}">{{ block.settings.hero_cta_text }}</a>
      	{% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% comment %}
<div class="hero-sec no-d" style="background-image: url({{ section.settings.hero_mobile_img | img_url: '2000x' }})">
  <div class="container flex-box">
      <h1 class="title bold hero-title">{{ section.settings.title }}</h1>
      <a href="{{ section.settings.button_url }}" class="hero-btn btn">{{ section.settings.button_txt }}</a>
  </div>
</div>
{% endcomment %}

{% schema %}
  {
    "name": "Delcon Hero",
    "settings": [
		{
			"type": "image_picker",
			"id": "hero_img",
			"label": "Hero Image"
		},
		{
			"type": "text",
			"id": "hero_title",
			"label": "Hero Title",
			"default": "Met zorg geformuleerde dierenvoeding"
		},
		{
			"type": "html",
			"id": "hero_subtitle",
			"label": "Hero Sub title",
			"default": "Elke hond en elke kat heeft eigen specifieke behoeften. Daarom maken wij met veel zorg voeding die aangepast is aan jouw pluizige vriend."
		}
	],
	"blocks": [ 
		{
			"type": "hero-cta",
			"name": "Hero CTA",
			"settings": [
				{
					"type": "text",
					"id": "hero_cta_text",
					"label": "Hero CTA Text"
				},
				{
                  "type": "url",
                  "id": "hero_cta_link",
                  "label": "Hero CTA Link"
                },
				{
                  "label": "Is Button Proefpakketten",
                  "id": "isProefpakketten",
                  "type": "checkbox",
                  "info": "Tick this field only on Proefpakketten related button"
                }
			]
		}
	],
	"presets":[
      {
         "name":"Delcon Hero"
      }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
