{{ "dc-header.css" | asset_url | stylesheet_tag }}

<header class="header-wrapper">
  <div class="dc-header container">
    <nav class="left-nav no-t-m">
      <ul class="header-nav-list header-nav-list-small">
        {% for link in section.settings.header_left_menu %}
          <li class="no-t-m"><a href="{{ link.url }}">{{ link.title | escape }}</a></li>
        {% endfor %}
      </ul>
      
      <div class="header-hamburger-menu no-d">
        <button type="button" class="navbar-toggler">
          <span class="icon-bar bar1"></span>
          <span class="icon-bar bar2"></span>
          <span class="icon-bar bar3"></span>
        </button>
      </div>
    </nav>
    
    <nav class="center-nav">
      <a href="/"><img src="{{ section.settings.header_logo | asset_img_url: '200x' }}"></a>
    </nav>
    
    <nav class="right-nav">
      <ul class="header-nav-list header-nav-list-small">
        {% for link in section.settings.header_right_menu %}
          <li class="no-t-m"><a href="{{ link.url }}">{{ link.title | escape }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>

{% schema %}
  {
    "name": "Delcon Header",
    "settings": [
		{
		  "type": "image_picker",
          "id": "header_logo",
          "label": "Logo"
		},
		{
          "type": "link_list",
          "id": "header_left_menu",
          "default": "main-menu",
          "label": "Select left menu for header"
        },
		{
          "type": "link_list",
          "id": "header_right_menu",
          "default": "main-menu",
          "label": "Select right menu for header"
        }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
