{{ 'dc-customer.css' | asset_url | stylesheet_tag }}
{{ 'dc-my-pet.css' | asset_url | stylesheet_tag }}

<div class="customer account">
  <div class="container">
    <div class="flex-box justify-between align-start">
      <div class="account-options-wrapper">
        <h1 class="account-heading tk-le-monde-livre-classic-byol">{{ 'customer.account.welcome_title' | t: name: customer.first_name }}</h1>
        <a href="{{ routes.account_url }}" class="account-option">{{ 'customer.account.title' | t }} <span class="arrow-right">{% include "arrow-right" %}</span></a>
        <a href="{{ routes.account_addresses_url }}" class="account-option">{{ 'customer.account.details' | t }} <span class="arrow-right">{% include "arrow-right" %}</span></a>
        <a href="#" class="account-option selected">{{ 'customer.account.pets' | t }} <span class="arrow-right">{% include "arrow-right" %}</span></a>
      </div>
      <div class="pet-details-wrapper">
        <div class="pet-details">
        </div>
        <a href="#" class="btn grey-btn add-pet">{{ 'customer.account.add_pet' | t }}</a>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Delcon My Pet",
    "settings": [],
	"presets":[
      {
         "name":"Delcon My Pet"
      }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
