{{ 'dc-customer.css' | asset_url | stylesheet_tag }}
{{ 'dc-my-pet.css' | asset_url | stylesheet_tag }}

<div class="customer account">
  <div class="container rel">
    <a href="{{ routes.account_logout_url }}" class="logout-link">{{ 'customer.log_out' | t }}</a>
    <div class="account-logged-in flex-box justify-between align-start">
      <div class="account-options-wrapper">
        <h1 class="account-heading tk-le-monde-livre-classic-byol">{{ 'customer.account.welcome_title' | t: name: customer.first_name }}</h1>
        <a href="{{ routes.account_url }}" class="account-option">{{ 'customer.account.title' | t }} <span class="arrow-right">{% include "arrow-right" %}</span></a>
        <a href="{{ routes.account_addresses_url }}" class="account-option">{{ 'customer.account.details' | t }} <span class="arrow-right">{% include "arrow-right" %}</span></a>
        <a href="#" class="account-option selected">{{ 'customer.account.pets' | t }} <span class="arrow-right">{% include "arrow-right" %}</span></a>
      </div>
      <div class="pet-details-wrapper">
        {% if customer.metafields.customer.pet_name != blank %}
        <div class="pet-details">
          <div class="flex-box justify-between align-start pet-flex-column">
            <div class="pet-image-wrapper">
              {% assign petTypeDog = 'customer.pet_details.pet_dog' | t %}
              {% assign petTypeCat = 'customer.pet_details.pet_cat' | t %}
              {% if customer.metafields.customer.pet_type contains petTypeDog %}
              <img src="{{ "Dog_image.png" | asset_img_url: 'x600' }}" class="pet-image" alt="{{ customer.metafields.customer.pet_name }}">
              {% elsif customer.metafields.customer.pet_type contains petTypeCat %}
              <img src="{{ "Cat_image.png" | asset_img_url: 'x600' }}" class="pet-image" alt="{{ customer.metafields.customer.pet_name }}">
              {% endif %}
            </div>
            <div class="pet-info-wrapper">
              <div class="flex-box justify-between align-center">
                <p class="pet-name tk-le-monde-livre-classic-byol">'{{ customer.metafields.customer.pet_name }}'
                  {% assign petGender = customer.metafields.customer.pet_gender | downcase | append: "-icon" %}
                  <span class="pet-gender">{% include petGender %}</span></p>
                <a href="#" class="edit-pet-details" data-form="addPet1">{{ 'customer.pet_details.change' | t }}</a>
              </div>
              <div class="pet-info">
                <p class="pet-label">{{ 'customer.pet_details.pet_breed' | t }}</p>
                <p class="pet-value">{{ customer.metafields.customer.pet_breed }}</p>
              </div>
              <div class="pet-info">
                <p class="pet-label">{{ 'customer.pet_details.pet_dob' | t }}</p>
                <p class="pet-value">{{ customer.metafields.customer.pet_dob }}</p>
              </div>
              <div class="pet-info">
                <p class="pet-label">{{ 'customer.pet_details.pet_weight' | t }}</p>
                <p class="pet-value">{{ customer.metafields.customer.pet_weight }} {{ 'customer.pet_details.pet_weight_unit' | t }}</p>
              </div>
              <div class="pet-info">
                <p class="pet-label">{{ 'customer.pet_details.pet_activity' | t }}</p>
                <p class="pet-value">{{ customer.metafields.customer.pet_activity }}</p>
              </div>
              <div class="pet-info">
                <p class="pet-label">{{ 'customer.pet_details.pet_neutered' | t }}</p>
                <p class="pet-value">{{ customer.metafields.customer.pet_neutered }}</p>
              </div>
              <div class="pet-info">
                <p class="pet-label">{{ 'customer.pet_details.pet_complaints' | t }}</p>
                <p class="pet-value">{{ customer.metafields.customer.pet_complaints }}</p>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        
        <a href="#" class="btn grey-btn add-pet add-pet-1 {% if customer.metafields.customer.pet_name != blank %}no-disp{% endif %}" data-add-pet="1">{{ 'customer.account.add_pet' | t }}</a>
        {% include "add-pet-1" %}
        
        {% if customer.metafields.customer.pet_name2 != blank %}
        <div class="pet-details">
          <div class="flex-box justify-between align-start">
            <div class="pet-image-wrapper">
              {% assign petTypeDog = 'customer.pet_details.pet_dog' | t %}
              {% assign petTypeCat = 'customer.pet_details.pet_cat' | t %}
              {% if customer.metafields.customer.pet_type2 contains petTypeDog %}
              <img src="{{ "Dog_image.png" | asset_img_url: '150x' }}" class="pet-image" alt="{{ customer.metafields.customer.pet_name2 }}">
              {% elsif customer.metafields.customer.pet_type2 contains petTypeCat %}
              <img src="{{ "Cat_image.png" | asset_img_url: '150x' }}" class="pet-image" alt="{{ customer.metafields.customer.pet_name2 }}">
              {% endif %}
            </div>
            <div class="pet-info-wrapper">
              <div class="flex-box justify-between align-center">
                <p class="pet-name tk-le-monde-livre-classic-byol">'{{ customer.metafields.customer.pet_name2 }}'
                  {% assign petGender = customer.metafields.customer.pet_gender2 | downcase | append: "-icon" %}
                  <span class="pet-gender">{% include petGender %}</span></p>
                <a href="#" class="edit-pet-details" data-form="addPet2">{{ 'customer.pet_details.change' | t }}</a>
              </div>
              <div class="pet-info">
                <p class="pet-label">{{ 'customer.pet_details.pet_breed' | t }}</p>
                <p class="pet-value">{{ customer.metafields.customer.pet_breed2 }}</p>
              </div>
              <div class="pet-info">
                <p class="pet-label">{{ 'customer.pet_details.pet_dob' | t }}</p>
                <p class="pet-value">{{ customer.metafields.customer.pet_dob2 }}</p>
              </div>
              <div class="pet-info">
                <p class="pet-label">{{ 'customer.pet_details.pet_weight' | t }}</p>
                <p class="pet-value">{{ customer.metafields.customer.pet_weight2 }} {{ 'customer.pet_details.pet_weight_unit' | t }}</p>
              </div>
              <div class="pet-info">
                <p class="pet-label">{{ 'customer.pet_details.pet_activity' | t }}</p>
                <p class="pet-value">{{ customer.metafields.customer.pet_activity2 }}</p>
              </div>
              <div class="pet-info">
                <p class="pet-label">{{ 'customer.pet_details.pet_neutered' | t }}</p>
                <p class="pet-value">{{ customer.metafields.customer.pet_neutered2 }}</p>
              </div>
              <div class="pet-info">
                <p class="pet-label">{{ 'customer.pet_details.pet_complaints' | t }}</p>
                <p class="pet-value">{{ customer.metafields.customer.pet_complaints2 }}</p>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        
        <a href="#" class="btn grey-btn add-pet add-pet-2 {% if customer.metafields.customer.pet_name != blank and customer.metafields.customer.pet_name2 == blank %}{% else %}no-disp{% endif %}" data-add-pet="2">{{ 'customer.account.add_pet' | t }}</a>
        {% include "add-pet-2" %}
        
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('.add-pet-1').click(function() {
      $('#addPet1').css("display","block");
      $('#addPet1').parent().parent().css("opacity","1");
      $('#addPet1').parent().parent().css("pointer-events","auto");
	});
    
    $('.add-pet-2').click(function() {
      $('#addPet2').css("display","block");
      $('#addPet2').parent().parent().css("opacity","1");
      $('#addPet2').parent().parent().css("pointer-events","auto");
	});
    
    $('.edit-pet-details').click(function() {
      var petForm = $(this).data('form');
      $('#'+petForm).css("display","block");
      $('#'+petForm).parent().parent().css("opacity","1");
      $('#'+petForm).parent().parent().css("pointer-events","auto");
	});
    
    $(".close-pet, .cancel-edit").click(function() {
      var petForm = $(this).data('form');
      $("#"+petForm).css("display","none");
      $("#"+petForm).parent().parent().css("opacity","0");
      $("#"+petForm).parent().parent().css("pointer-events","none");
    });
  });
  
  
  
</script>

{% schema %}
  {
    "name": "Delcon My Pet",
    "settings": [],
	"blocks": [
      {
        "type": "pet-activity",
        "name": "Pet Activity",
        "settings": [
            {
                "type": "text",
                "id": "pet_activity1",
                "label": "Pet Activity 1"
            },
			{
                "type": "text",
                "id": "pet_activity2",
                "label": "Pet Activity 2"
            },
			{
                "type": "text",
                "id": "pet_activity3",
                "label": "Pet Activity 3"
            },
			{
                "type": "text",
                "id": "pet_activity4",
                "label": "Pet Activity 4"
            },
			{
                "type": "text",
                "id": "pet_activity5",
                "label": "Pet Activity 5"
            }
        ]
      },
	  {
        "type": "pet-complaints",
        "name": "Pet Complaints",
        "settings": [
            {
                "type": "text",
                "id": "pet_complaint1",
                "label": "Pet Complaint 1"
            },
			{
                "type": "text",
                "id": "pet_complaint2",
                "label": "Pet Complaint 2"
            },
			{
                "type": "text",
                "id": "pet_complaint3",
                "label": "Pet Complaint 3"
            },
			{
                "type": "text",
                "id": "pet_complaint4",
                "label": "Pet Complaint 4"
            },
			{
                "type": "text",
                "id": "pet_complaint5",
                "label": "Pet Complaint 5"
            },
			{
                "type": "text",
                "id": "pet_complaint6",
                "label": "Pet Complaint 6"
            },
			{
                "type": "text",
                "id": "pet_complaint7",
                "label": "Pet Complaint 7"
            },
			{
                "type": "text",
                "id": "pet_complaint8",
                "label": "Pet Complaint 8"
            },
			{
                "type": "text",
                "id": "pet_complaint9",
                "label": "Pet Complaint 9"
            },
			{
                "type": "text",
                "id": "pet_complaint10",
                "label": "Pet Complaint 10"
            }
        ]
      }
	],
	"presets":[
      {
         "name":"Delcon My Pet"
      }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
