{{ 'dc-main-product.css' | asset_url | stylesheet_tag }}

{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

<script>
  function preSelectVariant() {
    var productUrl = window.location.search;
    var variantUrl = productUrl.split('=');
    var variantId = variantUrl[1];

    $('.product-details.product-info .variant-box').removeClass('variant-selected');
    $('.product-details.product-info .variant-box').each(function() {
      if($(this).attr('value') == variantId) {
        console.log(1);
        $(this).addClass('variant-selected');
      }
    });
  }
</script>

<div class="product marg-bottom-xl rel">
  <div class="container">
    <a href="{{ section.settings.terug_link }}" class="terug-btn"><span class="arrow-left">{% include "icon-arrow-sm" %}</span> {{ section.settings.terug_btn }}</a>
    <div class="flex-box justify-between align-start rel product-flex-column">
      <div class="card-product-image rel">

        <div class="product-slider-for rel" id="product-slider">
          {% for media in product.media %}
          {% if media.media_type == "video" %}
          <div class="product-img" data-vid="yes" href="{{ media | img_url: 'master' }}" data-caption="{{ product.title | escape  }}" data-width="{{media.width}}" data-height="{{media.height}}" itemprop="contentUrl" data-index="{{ forloop.index0 }}">
            <video autoplay muted playsinline="playsinline" preload="metadata" aria-label="{{ product.title }}" poster="{{ media.preview_image | img_url: 'x590' }}" loop>{% for video_source in media.sources %}<source src="{{ video_source.url }}" type="{{ video_source.mime_type }}">{% endfor %}</video>
          </div>  
          {% else %}
          <img src="{{ media | img_url: 'x590' }}" srcset="{{ media | img_url: '350x' }} 350w, {{ media | img_url: '600x' }} 600w" sizes="(max-width: 400px) 350px, 100vw" alt="{{ product.title | escape }}" loading="lazy">
          {% endif %}
          {% endfor %}
        </div>

        <div class="slider-nav no-t no-m {% for media in product.media %}{% if forloop.length < 8 %} no-transform{% endif %}{% endfor %}">
          {% for media in product.media %}          
          {% if media.media_type == "video" %}
          <video autoplay muted playsinline="playsinline" preload="metadata" aria-label="{{ product.title }}" poster="{{ media.preview_image | img_url: '200x' }}" loop>{% for video_source in media.sources %}<source src="{{ video_source.url }}" type="{{ video_source.mime_type }}">{% endfor %}</video>
          {% else %}
          <img src="{{ media | img_url: '100x' }}" srcset="{{ media | img_url: '100x' }} 1x,{{ media | img_url: '200x' }} 2x" alt="{{ product.title | escape }}" loading="lazy">
          {% endif %}
          {% endfor %}
        </div>

      </div>
      <div class="product-details product-info" data-type="{{ product.type }}" data-handle="{{ product.handle }}">
        
        <h2 class="product-title flex-box justify-between align-end product-title-sub-marg">{{ product.title }}
          <div class="card-product-price">{{ product.selected_or_first_available_variant.price | money }}</div>
        </h2>
        
        {% if product.has_only_default_variant %}
          <div class="variant-features">{{ product.metafields.my_fields.product_description }}</div>
        {% else %}
          {% for variant in product.variants %}
          <div class="variant-features {% if forloop.index != 1 %}no-disp{% endif %}" data-index="{{ forloop.index }}">{{ variant.metafields.my_fields.variant_desc }}</div>
          {% endfor %}
        {% endif %}
        
        <span class="variantType {% if product.has_only_default_variant %}no-disp{% endif %}">{{ section.settings.variant_type }}</span>

        <div class="variants-wrapper {% if product.has_only_default_variant %}no-disp{% endif %}">
          {% for variant in product.variants %}
          <div class="variant-box {% if forloop.index == 1 %}variant-selected{% endif %}" 
               data-index="{{ forloop.index }}" 
               data-available="{% if variant.available %}yes{% else %}no{% endif %}"
               data-sell-out-of-stock="{{ variant.inventory_policy }}"
               data-inventory-management="{{ variant.inventory_management }}"
               data-quantity="{{ variant.inventory_quantity }}"
               value="{{ variant.id }}"
               variant-name="{{ variant.title }}"
               data-compare="{{ variant.compare_at_price | money }}"
               data-price="{{ variant.price | money }}">{{ variant.title }}</div>
          {% endfor %}
        </div>
        
        <script id="product-json" type="application/json">
        	{{ product.variants | json }}
        </script>
        
        <div class="flex-box justify-between product-flex-column">
          <div class="qty-wrapper" data-quantity="1">
            <span class="qty-btn symbol-minus minus">{% include "icon-minus" %}</span>
            <span class="qty-number">1</span>
            <span class="qty-btn symbol-plus plus">{% include "icon-plus" %}</span>
          </div>
          <button class="btn addToCart" id="AddtoCart">{{ section.settings.add_to_cart }}</button>
        </div>
        
        <span class="shipping-details">{{ section.settings.shipping_details }}</span>
        
        {% comment %}
        {%- include 'bold-product' with product, hide_action: 'header' -%}
        {%- include 'bold-common' -%}
        {%- render 'shappify-bdl-load-bundle' -%}
        {% endcomment %}
        
        {% include "dc-product-bundle" %}
        
        <div class="other-details">
          {% if product.metafields.my_fields.product_general %}
          <div class="product-faq">
            <h3 class="product-accordion sub-title">{{ section.settings.prod_desc }} <span class="symbol">{% render "accordion-plus" %}</span></h3>
            <div class="panel"><p>{{ product.metafields.my_fields.product_general }}</p></div>
          </div>
          {% endif %}

          {% if product.metafields.my_fields.product_ingredients %}
          <div class="product-faq">
            <h3 class="product-accordion sub-title">{{ section.settings.prod_ingredient }} <span class="symbol">{% render "accordion-plus" %}</span></h3>
            <div class="panel"><p>{{ product.metafields.my_fields.product_ingredients }}</p></div>
          </div>
          {% endif %}

          {% if product.metafields.my_fields.product_required_qty %}
          <div class="product-faq">
            <h3 class="product-accordion sub-title">{{ section.settings.prod_amount }} <span class="symbol">{% render "accordion-plus" %}</span></h3>
            <div class="panel"><p>{{ product.metafields.my_fields.product_required_qty }}</p></div>
          </div>
          {% endif %}
        </div>
        
      </div>
    </div>
  </div>
</div>

<script>
  
  $(document).ready(function() {
	preSelectVariant();
    checkAvailability();
  });
  
  function scrollProductImage() {
    
    var variantTitle = $(".variant-box.variant-selected").attr("variant-name");
    
    var x = JSON.parse($('#product-json').html());
    var w = x.find(item => {
		return item.public_title === variantTitle;
    });

    if(w.featured_image != null) {
      $('.product-slider').slick('slickGoTo', (parseInt(w.featured_image.position)-1), false);
    }
    
  }
  
  function checkAvailability() {

    var selectedVariant = $(".variant-box.variant-selected").attr("variant-name");

    //Hide Unavailable variants
    $(".variant-box").each(function() {
      if($(this).attr("data-inventory-management") != "undefined" && $(this).attr("data-inventory-management") != null) {
      	if(($(this).attr("variant-name") == selectedVariant) && ($(this).attr("data-quantity") < parseInt($(".qty-number").text())) && ($(this).attr("data-sell-out-of-stock") == "deny")) {
          $("#AddtoCart").attr("disabled",true);
          $("#AddtoCart").text("{{ section.settings.out_of_stock }}");
        }
        else if(($(this).attr("variant-name") == selectedVariant) && ($(this).attr("data-quantity") >= parseInt($(".qty-number").text()))) {
          $("#AddtoCart").attr("disabled",false);
          $("#AddtoCart").html("{{ section.settings.add_to_cart }}");
        }  
	  }
	  else {
	  	  $("#AddtoCart").attr("disabled",false);
          $("#AddtoCart").html("{{ section.settings.add_to_cart }}");
	  }
    });

  }
          
  $(".minus").click(function() {
    var currVal = parseInt($(".qty-number").text());
    var newVal;
    if((currVal-1) > 1) {
      newVal = currVal - 1;
      $(".minus").css("opacity", "1");
    }
    else {
      newVal = 1;
      $(".minus").css("opacity", "0.5");
    }
    $(".qty-number").text(newVal);
    $(".qty-wrapper").attr("data-quantity",newVal);
    checkAvailability();
  });
  
  
  $(".plus").click(function() {
    var currVal = parseInt($(".qty-number").text());
    var newVal = currVal + 1;
    $(".qty-number").text(newVal);
    $(".qty-wrapper").attr("data-quantity",newVal);
    $(".minus").css("opacity", "1");
    checkAvailability();
  });
  
  $('#AddtoCart').click(function() {
    $('.drawer-cart').addClass('drawn');
    $('.background-drawer-cart').addClass('drawn');
    $('body').addClass('no-scroll');
    $('.cart-body').append(`<div class="load-container"><div class="load"></div></div>`);
    
    var formData = {
      'items': [{
        'id': parseInt($(".variant-box.variant-selected").attr("value")),
        'quantity': parseInt($(".qty-number").text())
      }]
    };
    $.ajax({
      url: "/cart/add.js",
      method: "POST",
      dataType: "json",
      data: formData,
    })
    .done(function( data ) {
      console.log(data);
      
      $.ajax({
        url: '{% unless routes.root_url == "/" %}{{ routes.root_url }}{% endunless %}/?sections=dc-cart-drawer',
        method: "GET",
        dataType: "json"
      })
      .done(function( data ) {
        {% include "cart-done" %}
      })
      .fail(function(error) {
        console.log( error );
        $('.load-container').remove();
      });
      
//       if($('.drawer-cart-upsell').length > 0 && $('.upsell-product-wrap').length > 0) {
//       	$('.cart-body').addClass("with-upsell");
//       }
//       else {
//       	$('.cart-body').removeClass("with-upsell");
//       }
      $('.load-container').remove();
    })
    .fail(function(error) {
      console.log(error);
      $('.load-container').remove();
    });
  });
          
  $(".product-accordion").click(function() {
    var acc1 = $(this).hasClass('faq-active')
    $(".product-accordion").each(function() {
      $(this).removeClass("faq-active");
      var panel = $(this).next()[0];
      panel.style.maxHeight = null;
    });
    if(acc1) {
      $(this).removeClass("faq-active")
      var panel = $(this).next()[0];
      panel.style.maxHeight = null;
    }
    else {
      $(this).addClass("faq-active")
      var panel = $(this).next()[0];
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
  
</script>

{% schema %}
  {
    "name": "Delcon Main Product",
    "settings": [
		{
          "type": "text",
          "id": "terug_btn",
          "label": "Terug Button text",
		  "default": "terug naar honden"
        },
		{
          "type": "url",
          "id": "terug_link",
          "label": "Terug Button link"
        },
		{
          "type": "text",
          "id": "variant_type",
          "label": "Hoeveelheid text",
		  "default": "Hoeveelheid:"
        },
		{
          "type": "html",
          "id": "shipping_details",
          "label": "Free Shipping from text"
        },
		{
          "type": "text",
          "id": "out_of_stock",
          "label": "Out of Stock text",
		  "default": "Uitverkocht"
        },
		{
          "type": "text",
          "id": "add_to_cart",
          "label": "Add to Cart text",
		  "default": "AAN WINKELWAGEN TOEVOEGEN"
        },
        {
          "type": "text",
          "id": "bundle_title",
          "label": "Bundle Title",
		  "default": "VAAK SAMEN GEKOCHT"
        },
		{
          "type": "text",
          "id": "prod_desc",
          "label": "Product Description Title",
		  "default": "Omschrijving"
        },
		{
          "type": "text",
          "id": "prod_ingredient",
          "label": "Product Ingredients Title",
		  "default": "Ingrediënten en toevoegingen"
        },
		{
          "type": "text",
          "id": "prod_amount",
          "label": "Product Quantity Title",
		  "default": "Hoeveel moet mijn hond eten?"
        }
	],
	"presets":[
      {
         "name":"Delcon Main Product"
      }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
