{{ 'dc-main-product.css' | asset_url | stylesheet_tag }}

<div class="product marg-bottom-xl rel">
  <div class="container">
    <a href="{{ section.settings.terug_link }}" class="terug-btn"><span class="arrow-left">{% include "icon-arrow-sm" %}</span> {{ section.settings.terug_btn }}</a>
    <div class="flex-box justify-between align-start rel">
      <div class="card-product-image rel">

        <div class="product-slider-for rel" id="product-slider">
          {% for media in product.media %}
          {% if media.media_type == "video" %}
          <div class="product-img" data-vid="yes" href="{{ media | img_url: 'master' }}" data-caption="{{ product.title | escape  }}" data-width="{{media.width}}" data-height="{{media.height}}" itemprop="contentUrl" data-index="{{ forloop.index0 }}">
            <video autoplay muted playsinline="playsinline" preload="metadata" aria-label="{{ product.title }}" poster="{{ media.preview_image | img_url: 'x590' }}" loop>{% for video_source in media.sources %}<source src="{{ video_source.url }}" type="{{ video_source.mime_type }}">{% endfor %}</video>
          </div>  
          {% else %}
          <img src="{{ media | img_url: 'x590' }}" alt="{{ product.title | escape }}" loading="lazy">
          {% endif %}
          {% endfor %}
        </div>

        <div class="slider-nav no-t no-m {% for media in product.media %}{% if forloop.length < 8 %} no-transform{% endif %}{% endfor %}">
          {% for media in product.media %}          
          {% if media.media_type == "video" %}
          <video autoplay muted playsinline="playsinline" preload="metadata" aria-label="{{ product.title }}" poster="{{ media.preview_image | img_url: '200x' }}" loop>{% for video_source in media.sources %}<source src="{{ video_source.url }}" type="{{ video_source.mime_type }}">{% endfor %}</video>
          {% else %}
          <img src="{{ media | img_url: '100x' }}" alt="{{ product.title | escape }}" loading="lazy">
          {% endif %}
          {% endfor %}
        </div>

      </div>
      <div class="card-product-text rel" data-type="{{ product.type }}" data-handle="{{ product.handle }}">
        
        <div class="flex-box justify-between align-end">
          <h2 class="product-title">{{ product.title }}</h2>
          <p class="card-product-price product-price">{{ product.selected_or_first_available_variant.price | money }}</p>
        </div>
        
        {% for variant in product.variants %}
        <div class="variant-features {% if forloop.index != 1 %}no-disp{% endif %}" data-index="{{ forloop.index }}">
          {{ variant.metafields.my_fields.variant_desc }}
        </div>
        {% endfor %}
        
        <span class="variantType">{{ section.settings.variant_type }}</span>
        
        <div class="variants-wrapper">
          {% for variant in product.variants %}
          <div class="variant-box {% if forloop.index == 1 %}variant-selected{% endif %}" data-index="{{ forloop.index }}" data-price="{{ variant.price | money }}">{{ variant.title }}</div>
          {% endfor %}
        </div>
        
        <script id="product-json" type="application/json">
        	{{ product.variants | json }}
        </script>
        
        <div class="flex-box justify-between">
          <div class="qty-wrapper" data-quantity="1">
            <span class="qty-btn symbol-minus minus">{% include "icon-minus" %}</span>
            <span class="qty-number sub-title">1</span>
            <span class="qty-btn symbol-plus plus">{% include "icon-plus" %}</span>
          </div>
          <button class="btn addToCart">{{ section.settings.add_to_cart }}</button>
        </div>
        
        <span class="shipping-details">{{ section.settings.shipping_details }}</span>
        
        <div class="other-details">
          {% if product.metafields.my_fields.product_general %}
          <div class="product-faq">
            <h3 class="product-accordion sub-title">{{ product.metafields.my_fields.product_general.key }} <span class="symbol">{% render "accordion-plus" %}</span></h3>
            <div class="panel"><p>{{ product.metafields.my_fields.product_general }}</p></div>
          </div>
          {% endif %}

          {% if product.metafields.my_fields.product_ingredients %}
          <div class="product-faq">
            <h3 class="product-accordion sub-title">{{ product.metafields.my_fields.product_ingredients }} <span class="symbol">{% render "accordion-plus" %}</span></h3>
            <div class="panel"><p>{{ product.metafields.my_fields.product_ingredients }}</p></div>
          </div>
          {% endif %}

          {% if product.metafields.my_fields.product_required_qty %}
          <div class="product-faq">
            <h3 class="product-accordion sub-title">{{ product.metafields.my_fields.product_required_qty }} <span class="symbol">{% render "accordion-plus" %}</span></h3>
            <div class="panel"><p>{{ product.metafields.my_fields.product_required_qty }}</p></div>
          </div>
          {% endif %}
        </div>
        
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Delcon Main Product",
    "settings": [
		{
          "type": "text",
          "id": "terug_btn",
          "label": "Terug Button text",
		  "default": "terug naar honden"
        },
		{
          "type": "url",
          "id": "terug_link",
          "label": "Terug Button link"
        },
		{
          "type": "text",
          "id": "variant_type",
          "label": "Hoeveelheid text",
		  "default": "Hoeveelheid:"
        },
		{
          "type": "html",
          "id": "shipping_details",
          "label": "Free Shipping from text"
        },
		{
          "type": "text",
          "id": "add_to_cart",
          "label": "Add to Cart text",
		  "default": "AAN WINKELWAGEN TOEVOEGEN"
        }
	],
	"presets":[
      {
         "name":"Delcon Main Product"
      }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
