{{ 'dc-our-team.css' | asset_url | stylesheet_tag }}

<div class="our-team-wrapper marg-top-xl marg-bottom-xl">
  <div class="our-team">
    <div class="team-block" style="background-color: {{section.settings.section_background  }}">
      <div class="container rel">
        <div class="team-wrapper">
          <h2 class="our-team-title">{{ section.settings.section_title }}</h2>
          <div class="our-team-text">{{ section.settings.section_text }}</div>
        </div>
        <div class="our-team-image">
          <img src="{{ section.settings.section_image | img_url: '698x' }}" class="" alt="Our Team image">
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "DC Our Team",
    "settings": [
	  {
        "label": "Section Backgrgound",
        "id": "section_background",
        "type": "color"
      },
	  {
        "label": "Section Image",
        "id": "section_image",
        "type": "image_picker"
      },
	  {
        "label": "Section Title",
        "id": "section_title",
        "type": "text"
      },
	  {
        "label": "Section Text",
        "id": "section_text",
        "type": "text"
      }
	],
	"presets": [
    {
      "name": "DC Our Team"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
