{{ 'dc-faq-section.css' | asset_url | stylesheet_tag }}

<div class="faq-section" style="background-color: {{ section.settings.faq_background }}">
  <div class="faq-container container">
    <h2 class="faq-heading title text-center">{{ section.settings.faq_title }}</h2>
    <div class="faqs">
      
      {% if product.metafields.my_fields.product_faq1_title and product.metafields.my_fields.product_faq1_desc %}
        <div class="faq-wrapper">
          <h3 class="accordion">{{ product.metafields.my_fields.product_faq1_title }}<span class="symbol">{% render "accordion-plus" %}</span></h3>
          <div class="panel">
            <p>{{ product.metafields.my_fields.product_faq1_desc }}</p>
          </div>
        </div>
      {% endif %}
      
      {% if product.metafields.my_fields.product_faq2_title and product.metafields.my_fields.product_faq2_desc %}
        <div class="faq-wrapper">
          <h3 class="accordion">{{ product.metafields.my_fields.product_faq2_title }}<span class="symbol">{% render "accordion-plus" %}</span></h3>
          <div class="panel">
            <p>{{ product.metafields.my_fields.product_faq2_desc }}</p>
          </div>
        </div>
      {% endif %}
      
      {% if product.metafields.my_fields.product_faq3_title and product.metafields.my_fields.product_faq3_desc %}
        <div class="faq-wrapper">
          <h3 class="accordion">{{ product.metafields.my_fields.product_faq3_title }}<span class="symbol">{% render "accordion-plus" %}</span></h3>
          <div class="panel">
            <p>{{ product.metafields.my_fields.product_faq3_desc }}</p>
          </div>
        </div>
      {% endif %}
      
      {% if product.metafields.my_fields.product_faq4_title and product.metafields.my_fields.product_faq4_desc %}
        <div class="faq-wrapper">
          <h3 class="accordion">{{ product.metafields.my_fields.product_faq4_title }}<span class="symbol">{% render "accordion-plus" %}</span></h3>
          <div class="panel">
            <p>{{ product.metafields.my_fields.product_faq4_desc }}</p>
          </div>
        </div>
      {% endif %}
      
      {% if product.metafields.my_fields.product_faq5_title and product.metafields.my_fields.product_faq5_desc %}
        <div class="faq-wrapper">
          <h3 class="accordion">{{ product.metafields.my_fields.product_faq5_title }}<span class="symbol">{% render "accordion-plus" %}</span></h3>
          <div class="panel">
            <p>{{ product.metafields.my_fields.product_faq5_desc }}</p>
          </div>
        </div>
      {% endif %}
      
      {% if product.metafields.my_fields.product_faq1_title == blank and product.metafields.my_fields.product_faq1_desc == blank and product.metafields.my_fields.product_faq2_title == blank and product.metafields.my_fields.product_faq2_desc == blank and product.metafields.my_fields.product_faq3_title == blank and product.metafields.my_fields.product_faq3_desc == blank and product.metafields.my_fields.product_faq4_title == blank and product.metafields.my_fields.product_faq4_desc == blank and product.metafields.my_fields.product_faq5_title == blank and product.metafields.my_fields.product_faq5_desc == blank %}
        {% for block in section.blocks %}
          <div class="faq-wrapper">
            <h3 class="accordion">{{ block.settings.question }}<span class="symbol">{% render "accordion-plus" %}</span></h3>
            <div class="panel">
              <p>{{ block.settings.answer }}</p>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>

<script>

  $(document).ready(function() {
    $(".accordion").click(function() {
      var acc = $(this).hasClass('faq-active')
      $(".accordion").each(function() {
        $(this).removeClass("faq-active");
        var panel = $(this).next()[0];
        panel.style.maxHeight = null;
      });
      if(acc) {
        $(this).removeClass("faq-active")
        var panel = $(this).next()[0];
        panel.style.maxHeight = null;
      }
      else {
        $(this).addClass("faq-active")
        var panel = $(this).next()[0];
        panel.style.maxHeight = panel.scrollHeight + "px";
      } 
    });
  });

</script>

{% schema %}
  {
    "name": "Delcon Product FAQ",
    "settings": [
		{
          "label": "FAQ Background Color",
          "id": "faq_background",
          "type": "color"
    	},
		{
          "label": "FAQ title",
          "id": "faq_title",
          "type": "text",
		  "default": "Veelgestelde vragen"
    	}
	],
	"blocks": [
      {
        "type": "text",
        "name": "FAQs",
		"limit": 5,
        "settings": [
            {
              "label": "Question",
              "id": "question",
              "type": "text"
            },
            {
              "label": "Answer",
              "id": "answer",
              "type": "text"
            }
        ]
      }
    ],
	"presets":[
      {
         "name":"Delcon Product FAQ"
      }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
