{{ 'dc-img-video-text.css' | asset_url | stylesheet_tag }}
{{ 'dc-product-ingredients.css' | asset_url | stylesheet_tag }}

<div class="image-video-text-block marg-top-xl marg-bottom-xl">
  <div class="container">
    <div class="flex-box justify-between align-center rel image-text-wrapper {% if section.settings.media_alignment == 'right' %}rev-cols{% endif %}" style="background-color: {{ section.settings.ingredient_title_background }}">
      <div class="ingredient-details-block rel" style="background-color: {{ section.settings.ingredient_details_background }}">

        <img src="{{ block.settings.section_image | img_url: 'x590' }}" alt="{{ block.settings.section_title }} image" loading="lazy">
      </div>
      <div class="ingredient-title-block rel">
        <span class="subheading-text">{{ section.settings.section_subtitle }}</span>
        <h2 class="heading-text tk-le-monde-livre-classic-byol">{{ section.settings.section_title }}</h2>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "DC Product Ingredients",
    "settings": [
      {
        "label": "Ingredient Details Background Color",
        "id": "ingredient_details_background",
        "type": "color"
      },
	  {
        "label": "Ingredient Title Background Color",
        "id": "ingredient_title_background",
        "type": "color"
      },
	  {
        "type": "radio",
        "id": "media_alignment",
        "label": "Media alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "right"
      },
	  {
          "label": "Section sub title",
          "id": "section_subtitle",
          "type": "text"
      },
	  {
          "label": "Section title",
          "id": "section_title",
          "type": "text"
      }
	],
	"blocks": [
      {
        "type": "text",
        "name": "FAQs",
		"limit": 5,
        "settings": [
            {
              "label": "Question",
              "id": "question",
              "type": "text"
            },
            {
              "label": "Answer",
              "id": "answer",
              "type": "text"
            }
        ]
      }
    ],
	"presets": [
    {
      "name": "DC Product Ingredients"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
