{{ 'dc-img-video-text.css' | asset_url | stylesheet_tag }}
{{ 'dc-review-with-text.css' | asset_url | stylesheet_tag }}

<div class="image-video-text-block marg-top-xl marg-bottom-xl">
  <div class="container">
    <div class="flex-box justify-between align-center rel image-text-wrapper {% if section.settings.media_alignment == 'right' %}rev-cols{% endif %}" style="background-color: {{ section.settings.background_color }}">
      <span class="custom-logo">{{ section.settings.custom_logo }}</span>
      <div class="image-video-block rel">
        <!-- TrustBox widget - Starter -->
        <div class="trustpilot-widget" data-locale="nl-NL" data-template-id="5613c9cde69ddc09340c6beb" data-businessunit-id="5fd22a12a2221c00018b1ae2" data-style-height="100%" data-style-width="100%" data-theme="light">
          <a href="https://nl.trustpilot.com/review/delcon.be" target="_blank" rel="noopener">Trustpilot</a>
        </div>
        <!-- End TrustBox widget -->
      </div>
      <div class="text-block rel">
        <span class="subheading-text">{{ section.settings.section_subtitle }}</span>
        <h2 class="heading-text tk-le-monde-livre-classic-byol">{{ section.settings.section_title }}</h2>
        <div class="about-text">{{ section.settings.section_text }}</div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "DC Review with text",
    "settings": [
      {
        "label": "Background Color",
        "id": "background_color",
        "type": "color"
      },
	  {
        "type": "radio",
        "id": "media_alignment",
        "label": "Media alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left"
      },
	  {
          "label": "Section sub title",
          "id": "section_subtitle",
          "type": "text"
      },
	  {
          "label": "Section title",
          "id": "section_title",
          "type": "text"
      },
      {
          "label": "Section text",
          "id": "section_text",
          "type": "html"
      }
	],
	"presets": [
    {
      "name": "DC Review with text"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
